
<div ng-switch="subview" ng-controller="authenticate.LoginController">
  <form name="loginForm" ng-submit="validateLogin()" style="padding-top: 30px; margin: 0;">
    <div class="row" style="min-height:120px;">
      <div class="ten columns centered center-text">
        <ul>
          <li class="danger alert" id="validateError" ng-show="invalidLogin"></li>
          <li class="field" style="text-align:center;"><input id="loginEmail" class="email input" type="email" placeholder="Email" style="max-width:380px;" ng-model="loginEmail" required></li>
          <li class="field" style="text-align:center;"><input id="loginPassword" class="password input" type="password" placeholder="Password" style="max-width:380px;" ng-model="loginPassword" required></li>
        </ul>
      </div>
    </div>
    <div class="row authenticateFooter">
      <div style="text-align: center; padding-top:15px;">
        <div>
          <button type="submit" class="medium btn success"><a ng-click="validateLogin()">Login</a></button>
          <div>
            <p class="forgotPassword"><a href="#/authenticate/requestPassword" style="color:#444;text-decoration:underline;">Forgot Password?</a></p>
            <p class="signUpHere">New here? <a href="#/authenticate/signUp" style="color:#444;text-decoration:underline;">Come Sign Up!</a></p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
