<div ng-switch="subview">
  <div class="modal active" id="signUpModal" ng-controller="authenticate.RequestpasswordController">
  <div class="content" style="max-width: 500px;
  max-height: 435px; max-height: 100%; min-height: 0%;
  padding: 0; top:10%;
  ">
      <div class="row" style="height:80px;background-color:#555;text-align:center;">
        <a href="http://annotree.com"><img src="img/AnnoTreeFadeIn.png" style="height: 60px;margin-top:10px;"/></a>
      </div>
      <div class="row" style="height:150px;">
        <div class="ten columns centered center-text">
          <p style="padding-top: 15px;padding-bottom: 10px; text-align: center; font-size:11pt">Please enter your email and we will send you a reset link.</p>
          <form id="requestPasswordResetForm" style="">
            <ul>
              <li class="field" style="text-align:center;"><input id="requestEmail" class="email input" type="email" placeholder="Email" style="max-width:380px;"></li>
            </ul>
          </form>
        </div>
      </div>
      <div class="row" style="height:85px;background-color:#eee;border-top:1px solid #bbb;">
        <div style="text-align: center; padding-top:15px;">
          <div>
            <div class="medium btn success"><a href="#">Request Password Reset</a></div>
            <p style="margin-bottom: 0px; padding-top: 5px; text-align: center; font-size:10pt;"><a href="#/authenticate/login" style="color:#444;text-decoration:underline;">Return to Login Screen</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>