<div ng-switch="subview" ng-controller="authenticate.ResetpasswordController">
    <form id="requestPasswordResetForm" style="padding-top: 30px;">
      <div class="row" style="min-height:150px;">
        <div class="ten columns centered center-text">
          
            <ul>
              <li class="field" style="text-align:center;"><input id="newPassword" class="email input" type="email" placeholder="New Password" style="max-width:380px;"></li>
              <li class="field" style="text-align:center;"><input id="confirmNewPassword" class="email input" type="email" placeholder="Confirm" style="max-width:380px;"></li>
            </ul>
        </div>
      </div>
      <div class="row authenticateFooter">
        <div style="text-align: center; padding-top:15px;">
          <div>
            <div class="medium btn success"><a href="#">Set Password</a></div>
          </div>
        </div>
      </div>
    </form>
  </div>