# MAC OS file
.DS_Store

# log files
*.log

# VIM files
*.swp

# annotation_files
Website/anno_tree/public/annotation_files/

Mobile/iOS/AnnoTree Viewer/AnnoTree Viewer.xcodeproj/project.xcworkspace/xcuserdata/mmax.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
