<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content modal-clear">
            <div class="modal-body" style="padding:0;">
              <iframe src="http://player.vimeo.com/video/75744148" style="min-height:320px;width:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div class="navbar">
        <div class="container" style="height:99px;">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" style="margin-top:35px;">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-annotree" href="./index.html"><img src="img/LogoNameWeb.png" /></a>
          </div>
          <div class="navbar-collapse bs-navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-nav-annotree">
              <li class="active"><a href="./index.html">Home</a></li>
              <li><a href="http://blog.annotree.com">Blog</a></li>
              <li class="signInButton">
                <a style="color:white;text-decoration:none;padding:0;" href="http://ccp.annotree.com">
                  <button href="http://ccp.annotree.com" class="btn btn-annotree">Sign in</button>
                </a>
              </li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </div>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="mainHeader">
        <div class="container">
          <div class="headerTitle">Beautiful, Intuitive Application Development</div>
          <div class="headerText">A visual collaboration tool for application development</div>
          <div style="height:30px;">
            <div class="errorField" id="firstErrorField">
              Please input a valid email
            </div>
          </div>
          <form class="form-inline form-center" role="form">
            <div class="form-group">
              <input type="email" class="form-control betaEmail" style="margin-top: -6px;" id="mainSignUpEmail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-annotree btn-lg">Sign Up Free &raquo;</button>
          </form>
          <div class="contactInfo" style="font-size:20pt;">
            <a class="twitterIcon" target="_blank" href="http://twitter.com/annotree"><i class="icon-twitter-sign"></i></a>
            <a class="facebookIcon" target="_blank" href="https://www.facebook.com/annotreeapp"><i class="icon-facebook-sign"></i></a>
            <a class="googleIcon" target="_blank" href="https://plus.google.com/112538136799180523043" rel="publisher"><i class="icon-google-plus-sign"></i></a>
          </div>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row row-center row-video">
        <div class="container">
          <div class="col-lg-12 videoColumn">
            <!--<a data-toggle="modal" href="#myModal">
              <img src="img/iPadVideo.png" style="width:100%;max-width:900px;cursor:pointer;"/>
            </a>-->
            <img src="img/iPad.png" class="annotreeiPadWrap"/>
            <iframe src="http://player.vimeo.com/video/75744148" class="annotreeVid" style="margin-bottom:-6px;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row row-center row-video AnnoTreeGreenBG">
        <div class="container">
          <div class="col-lg-12">
            <div class="featureSplit">
              <div class="featureHeadText white">Annotate Directly in Your Web Browser</div>
              <div class="featureSubHeadText white">See exactly what your clients, beta testers and distributed team members think</div>
              <img src="img/MacBookPro.png" style="width:100%;max-width:700px;"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-center row-video">
        <div class="container">
          <div class="col-lg-12">
            <div class="featureSplit">
              <div class="featureHeadText">Or on Your Mobile Application</div>
              <div class="featureSubHeadText">Work on mobile and web projects with your team and create leafs</div>
              <img src="img/iPhone.png" style="width:100%;max-width:300px;"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-center row-video" style="background: rgb(77, 71, 85);box-shadow: inset 0px 2px 5px #222;">
        <div class="container">
          <div class="col-lg-12">
            <div class="featureSplit">
              <div class="featureHeadText white">Send to our Central Platform</div>
              <div class="featureSubHeadText white">Send your leafs to our collaboration tool and use intuitive branch organization for sprints, bucketing, and more</div>
              <img src="img/iPadFeature.png" style="width:100%;height:100%;max-width:700px;"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-center row-video" style="background:white;">
        <div class="container">
          <div class="col-lg-12">
            <div class="featureSplit">
              <div class="featureHeadText">Collaborate with your Team</div>
              <div class="featureSubHeadText">Create leafs, assign team members, and drag and drop to organize<br/>(test drag and drop below!)</div>
              <!--<img src="img/Issues.png" style="border-radius:5px;margin-bottom:20px;margin-top:20px;box-shadow:1px 1px 3px 0 rgba(0, 0, 0, 0.33);max-width: 375px;width: 100%;"/>-->
              <div style="width:100%;height:500px;display:block;">
                <div class="branchColumn" style="margin:0 auto;">
                  <div class="branchColumnTitle">
                      New <div class="label statusLabel label-annotree-inverse"> 
                              4
                          </div>
                  </div>
                  <hr class="branchTitleHr">
                  <ul id="newLeavesBranch" class="connectedSortable branchColumnLeaves scroll-pane ui-sortable">
                      <li class="card-col col-12 " ng-repeat="leaf in leaves | reverse"> 
                          <div ng-switch="leaf.id">
                              <div ng-switch-default="" class="ng-scope">
                                  <div class="card leafCard">
                                      <div class="cardName leafCardName">
                                          Change the icon to be dark blue
                                      </div>
                                      <div class="cardInformation">
                                          <!--<div style="padding:0 0 5px 5px">
                                              <button type="button" id="assign" class="btn btn-annotree btn-xs" ng-click="openAssign($event, leaf.id, branch.id)">
                                                  + Assign
                                              </button>
                                          </div>-->
                                          <div>
                                              <div class="assignedUser" style="-webkit-user-select: text;">
                                                  <div id="assignedUser" class="userIcon unselectable"style="-webkit-user-select: text;">
                                                      BC
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="card-col col-12 " ng-repeat="leaf in leaves | reverse"> 
                          <div ng-switch="leaf.id">
                              <div ng-switch-default="" class="ng-scope">
                                  <div class="card leafCard">
                                      <div class="cardName leafCardName">
                                          Remove the glow from the second login input
                                      </div>
                                      <div class="cardInformation">
                                          <!--<div style="padding:0 0 5px 5px">
                                              <button type="button" id="assign" class="btn btn-annotree btn-xs" ng-click="openAssign($event, leaf.id, branch.id)">
                                                  + Assign
                                              </button>
                                          </div>-->
                                          <div>
                                              <div class="assignedUser" style="-webkit-user-select: text;">
                                                  <div id="assignedUser" class="userIcon unselectable"style="-webkit-user-select: text;">
                                                      MP
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="card-col col-12 " ng-repeat="leaf in leaves | reverse"> 
                          <div ng-switch="leaf.id">
                              <div ng-switch-default="" class="ng-scope">
                                  <div class="card leafCard">
                                      <div class="cardName leafCardName">
                                          Design the new Annotation screen
                                      </div>
                                      <div class="cardInformation">
                                          <!--<div style="padding:0 0 5px 5px">
                                              <button type="button" id="assign" class="btn btn-annotree btn-xs" ng-click="openAssign($event, leaf.id, branch.id)">
                                                  + Assign
                                              </button>
                                          </div>-->
                                          <div>
                                              <div class="assignedUser" style="-webkit-user-select: text;">
                                                  <div id="assignedUser" class="userIcon unselectable"style="-webkit-user-select: text;">
                                                      BC
                                                  </div>
                                              </div>
                                              <div class="assignedUser" style="-webkit-user-select: text;">
                                                  <div id="assignedUser" class="userIcon unselectable"style="-webkit-user-select: text;">
                                                      MP
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="card-col col-12 " ng-repeat="leaf in leaves | reverse"> 
                          <div ng-switch="leaf.id">
                              <div ng-switch-default="" class="ng-scope">
                                  <div class="card leafCard">
                                      <div class="cardName leafCardName">
                                          Save offline chats for later
                                      </div>
                                      <div class="cardInformation">
                                          <!--<div style="padding:0 0 5px 5px">
                                              <button type="button" id="assign" class="btn btn-annotree btn-xs" ng-click="openAssign($event, leaf.id, branch.id)">
                                                  + Assign
                                              </button>
                                          </div>-->
                                          <div>
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row teamRow">
        <div class="container">
          <p class="headerText inverse" style="max-width:800px;margin: 0 auto; padding-top: 125px;">Try AnnoTree free today and experience the best designed collaboration solution for application development.</p>
          <div style="height:30px;">
            <div class="errorField" id="secondErrorField">
              Please input a valid email
            </div>
          </div>
          <form class="form-inline form-center" role="form">
            <div class="form-group">
              <input type="email" class="form-control betaEmail" id="secondSignUpEmail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-annotree-inverse btn-lg">Sign Up Free &raquo;</button>
          </form>
        </div>
      </div>
      <footer>
        <div class="container" style="font-size:12px;text-align:center;">
          <div class="row">
            <div class="col-sm-4 footerCol">
              <a href="http://silith.io" target="_blank">
                <img src="img/SilithIO.png" style="height:10px;"/>
              </a>
            </div>
            <div class="col-sm-4 footerCol">
              <a href="mailto:contact@annotree.com?Subject=Hello%20AnnoTree%20Support" target="_top">contact@annotree.com</a>
            </div>
            <div class="col-sm-4 footerCol">
              &copy; 2013 Silith.IO, Inc.
            </div>
          </div>
        </div>
      </footer>
    <!-- /container -->        
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

      <script src="js/vendor/bootstrap.min.js"></script>

      <script src="js/main.js"></script>

      <script type="text/javascript" src="js/vendor/jquery-ui-1.10.3.custom.min.js" style="-webkit-user-select: text;"></script>
      <script src="js/vendor/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="js/vendor/functions.js" style="-webkit-user-select: text;"></script>


      <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src='//www.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    </body>
</html>
