<div id="forestIndex" ng-controller="forest.ForestController">
    <div id="forestContainer">
        <div class="container" >
            <div class="row forest new" style="margin-bottom:30px">
                <div class="col-12">
                    <span class="forestName new" ng-click="openNewForestModal()">
                        <strong>Create Forest</strong>
                  </span>
                </div>
            </div>
            <div ng-repeat="forest in forests | orderBy:forest.id" post-render>
                <div class="row forest">
                    <div class="col-12">
                        <span class="forestName" ng-click="openModifyForestModal(forest)">
                            <strong>{{forest.name}}</strong>&nbsp;
                            <i class="icon-cog"></i> 
                        </span>
                    </div>
                </div>
                <div class="row"> 
                    <div class="card-col col-12 col-sm-6 col-lg-4">
                        <div class="card new">
                            <div class="cardName cardNameNew">
                                <strong>New Tree</strong><br />
                            </div>
                            <div class="cardImg cardImgNew" ng-click="openNewTreeModal(forest.id)">
                                +
                            </div>
                        </div>
                    </div>
                    <div class="card-col col-12 col-sm-6 col-lg-4" ng-repeat="tree in forest.trees | orderBy:tree.id | reverse"> 
                        <div class="card">
                            <a ng-href="#/app/{{forest.id}}/{{tree.id}}/{{tree.default_branch}}">
                                <div class="cardName">
                                    <strong>{{tree.name}}</strong><br />
                                </div>
                                <div class="cardImg" back-img="{{tree.logo}}"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Forest Modal -->
    <div class="modal" id="newForestModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:newForestModalWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Create New Forest</h3>
                </div>
                <form name="createForestForm" ng-submit="newForest()">
                    <div class="modal-body">
                        <div class="error-text" ng-show="newForestErrorMessage">{{newForestErrorText}}</div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Forest name" ng-model="newForestName" />
                            <span class="tipText">Tip: A forest is a collection of trees (Applications) such as a company, organization, or more</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-annotree">
                            <strong>Create</strong>
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modify Forest Modal -->
    <div class="modal" id="modifyForestModal" ng-model="modifyForest" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:modifyForestWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" ng-hide="forestRenameShow" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <div ng-click="showRenameForest()" style="cursor:pointer" ng-hide="forestRenameShow">
                        <h3 class="modal-title">{{modifyForestRef.name}}</h3>
                    </div>
                    <div ng-show="forestRenameShow" style="text-align:left">
                        <div class="error-text" ng-show="forestRenameErrorMessage">{{forestRenameErrorText}}</div>
                        <input class="form-control" style="width:100%;display:block;margin-bottom:5px" rows="3" ng-model="forestRenameText" maxlength="45" />
                        <button type="button" class="btn btn-annotree" ng-click="renameForest()">Rename</button>
                        <button type="button" class="btn btn-warning" ng-click="forestRenameShow=false">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                        Current owner: {{'(' + forestOwner + ')'}}
                        <div class="row" style="margin:10px 10px 0 10px">
                            <div class="col-12">
                                <div class="error-text" ng-show="changeForestOwnerErrorMessage">{{changeForestOwnerErrorText}}</div>
                                <select class="form-control" ng-model="changeForestOwnerSelect">
                                    <option value="nochange" selected>Choose a new owner...</option>
                                    <option value="{{user.id}}" ng-repeat="user in potentialForestOwners">
                                        {{user.first_name}} {{user.last_name}} ({{user.email}})
                                    </option>
                                </select>
                                <span class="tipText">A forest owner has access to every tree within the forest and can't be removed from trees</span>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-annotree" data-dismiss="modal">
                        <strong>Close</strong>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="deleteForestCallback()">
                        <strong>Delete</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete forest modal -->
    <div class="modal" id="deleteCallbackModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:deleteForestWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Delete Forest</h3>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this? This action can not be undone.</p>
                    <div class="error-text" ng-show="deleteForestErrorMessage">{{deleteForestErrorText}}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteForest()">
                        <strong>Yes</strong>
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                        <strong>Cancel</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- New Tree Modal -->
    <div class="modal" id="newTreeModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:newTreeWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Create New Tree</h3>
                </div>
                <form name="createTreeForm" ng-submit="newTreeFn()">
                    <div class="modal-body">
                        <p class="error-text" ng-show="newTreeErrorMessage">{{newTreeErrorText}}</p>
                        <div class="form-group">
                            <input id="treeName" class="form-control" type="text" placeholder="Tree name" ng-model="newTreeName" />
                            <span class="tipText">Tip: A Tree represents an application or project</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-annotree">
                            <strong>Create</strong>
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div post-render>
