<div ng-switch="subview">
    <div>
        <img class="appLogo" src="img/logo.png"><span class="appName">AnnoTree CCP</span>
    </div>
    <div style="margin-top:10px;">
        <p style='font-weight:bold'>API Key:</p>
        <p>o3qpioq4ijpo4fqpiq4ipf3ip3qfoipq3490324foiq2foipq3f</p>
    </div>
    <hr/>
    <div style="margin-top:20px;">
        <div class="dashLinks">
            <i class="icon-leaf"></i> <span>New Leaf</span>
        </div>
        <div class="dashLinks">
            <i class="icon-group"></i> <span>Users</span>
        </div>
        <div class="dashLinks">
            <i class="icon-cog"></i> <span>Tree Settings</span>
        </div>
    </div>      
</div>
