<div ng-controller="layouts.StandardController" class="l-standard">

        <!-- App -->
        <div id="wrapper" post-render>

		  <div style="text-align:center;">
		    <img src="img/AnnoTreeLogoFire.png" style="width:200px;margin-top: 100px;"/>
		    <br/>
            <span style="font-size:30pt;">We're having a bit of a forest fire...</span>
            <br/>
            <br/>
              <!--TODO: We are working hard to fix this! -->
            <span style="font-size:15pt;">Try back in a little bit and we should have it put out!</span>

		  </div>
        
        </div>
    
</div>
