<div ng-controller="authenticate.AuthenticateController" >
    <div id="authenticateScreen">
        <div id="authenticateHeader">
            <img src="img/AnnoTreeLogoName.png"/>
        </div>
                    
        <div ng-switch="subview">
            <div ng-switch-when="signup" ng-include="'assets/app/views/authenticate/signup.html'"></div>
            <div ng-switch-when="login" ng-include="'assets/app/views/authenticate/login.html'"></div>
            <div ng-switch-when="requestPassword" ng-include="'assets/app/views/authenticate/requestPassword.html'"></div>
            <div ng-switch-when="resetPassword" ng-include="'assets/app/views/authenticate/resetPassword.html'"></div>
        </div>
    </div>
</div>
