<div ng-controller="layouts.StandardController" id="app">
    <div id="containWrapper">
        <!-- top navbar -->
        <div class="navbar navbar-fixed-top">
            <img src="img/LogoNameWeb.png" class="logoHeader" />
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/app"><i class="icon-home"></i>&nbsp;Home</a>
                    </li>
                    <li>
                        <a ng-click="openHelpModal()"><i class="icon-lightbulb"></i>&nbsp;Help</a>
                    </li>
                </ul>
            </div>
            <div id="userLinkDiv">
                <a class="btn btn-annotree btn-small" style="margin-top:2px;margin-right:10px;color:#555" ng-click="openFeedbackModal()"><i class="icon-share"></i>&nbsp;Feedback</a>
                <a href="" class="userLink toggle active" ng-click="openUserScreen()">
                    <img id="userIcon" ng-src="{{user.avatar}}">
                </a>
                <span class="logoutArrow userSettings"></span>
            </div>
            <div class="responsiveShow" style="width:40px;height:40px;margin-top:5px;">
                <a id="paneToggle" style="padding:0;text-align:center;text-decoration:none">
                    <i class="icon-reorder responsiveShow" style="color:white;font-size:18pt"></i>
                </a>
            </div>
        </div>

        <!-- User Settings Display -->
        <div id="userSettings" class="userSettingsBox userSettings">
            <div>
                <img ng-src="{{user.avatar}}">    
                <p class="userSettingsName ng-binding" style="margin-left:80px;">{{user.name}}</p>
            </div>
            <div id="footer">
                <p style="margin-top:5px;" class="btn btn-annotree logoutButton btn-small" ng-click="logout()">
                    <strong>Logout</strong>
                </p>
            </div>
        </div>

        <!-- Include Body Content. -->
        <div class="switch wrapper">
            <div ng-switch="subview">
                <div ng-switch-when="forest" ng-include=" 'assets/app/views/forest/index.html' "></div>
                <div ng-switch-when="tree" ng-include=" 'assets/app/views/tree/index.html' "></div>
                <div ng-switch-when="forestFire" ng-include=" 'assets/app/views/layouts/404.html' "></div>
            </div>
        </div>
    </div>

    <!-- slide over page for mobile options -->
    <div id="mobileDashboard" render-pane>
        <div ng-switch="subview">
            <div ng-switch-when="forest" ng-include=" 'assets/app/views/forest/mobilePane.html' "></div>
            <div ng-switch-when="tree" ng-include=" 'assets/app/views/tree/mobilePane.html' "></div>
        </div>
    </div>

    <!-- Feedback Modal -->
    <div class="modal" id="feedbackModal" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeFeedbackModal()">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Submit Feedback</h3>
                </div>
                <form name="feedbackForm" ng-submit="submitFeedback()">
                    <div class="modal-body">
                        <p ng-show="feedbackThanks">Thanks for submitting your feedback! We appreciate you taking the time to make AnnoTree better.</p>
                        <p ng-show="feedbackAbout">Let us know what features you want to see next, any problems you have while using AnnoTree, or anything else you feel that we should be aware of.</p>
                        <div class="error-text" id="invalidSubmitFeedback" ng-show="invalidSubmitFeedback"></div>
                        <div class="form-group">
                            <textarea id="feedback" class="form-control" rows="5" type="text" placeholder="Feedback" ng-model="feedback" required ng-show="feedbackArea" maxlength="5000"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-annotree" ng-show="feedbackThanks" ng-click="closeFeedbackModal()">
                            <strong>Close</strong>
                        </button>
                        <button type="submit" class="btn btn-annotree" ng-show="feedbackSubmitButton">
                            <strong>Submit Feedback</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Help Modal -->
    <div class="modal" id="helpModal" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">AnnoTree Help</h3>
                </div>
                <div class="modal-body">
                    <h3>Collaboration On Application Development</h3>
                    <div class="row">
                        <div class="col-12">
                            The AnnoTree Collaboration Platform is a collaborative project management system designed around the concept of a tree. Within your forest which represents an organization you work with, you have your trees which each represent a different application within that company. When inside each tree, you will see your leaves where each leaf represents an annotation sent from the AnnoTree Widget or a file uploaded directly as a leaf.
                        </div>
                    </div>
                    <h3>Forest</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            By either creating a Forest or being invited to an existing one, you are instantly able to collaborate within any of the Trees inside the Forest. Through a simple, easy-to-navigate menu, you can create, join, rename and delete Forests.
                        </div>
                        <div class="col-12 col-lg-6">
                            <img style="width: 100%;" src="img/help/forestHelp.png">
                        </div>
                    </div>
                    <h3>Trees</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            Through the same, intuitive menu system, you can create any number of Trees within a Forest you have created or been invited to. You can create a Tree for each application you are developing and set up unique permissions for each tree to ensure the right team members are working on the right projects. Once inside your tree, you can send annotations directly from the AnnoTree Widget or upload them from your local hard drive.<br/><br/>
                            While inside a Tree, you will see any currently uploaded Leaves, as well as an option to Add a New Leaf. If you select the "New Leaf" button, you will be prompted to name the leaf and locate the file you wish to upload as the Leaf on your local hard drive. Once you have named the Leaf and located your file, you hit "Create" which will automatically add the Leaf into your Forest.<br/><br/>
                            If you select a Leaf that has been previously uploaded, it will bring you into the Leaf menu.<br/><br/>
                            Within the Tree, you will also see a series of options on the left-hand side, including Developer Resources, Users, and Tree Settings.<br/><br/>
                            The Developer Resources is your information portal for your Tree. Here, you will find the SDK key needed to sync your Tree with your mobile devices as well as the code where your unique SDK key is inserted. Additionally, there are step-by-step instructions to assist in the process of integrating the SDK into your Application. Lastly, you can download the Sample Application which can illustrate the AnnoTree functions in a demo application before having to commit to our platform.<br/><br/>
                            When you select Users, a User Permissions box is shown where you can add or remove users from a Tree. To add a user, begin typing their name or email address in the Email box and it will auto-populate with any registered users matching the text you have entered. From there, you can select the desired user or continue by entering the full email address and hitting "Add". To remove a user, simply click the "x" next to a user shown to have access to the Tree.<br/><br/>
                            Inside the Tree Settings, you can Rename or Delete your Tree.
                        </div>
                        <div class="col-12 col-lg-6">
                            <img style="width: 100%;" src="img/help/treeHelp.png">
                        </div>
                    </div>
                    <h3>Leaves</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            If you select an uploaded Leaf while inside a Tree, it will bring you to a screen with an image of the Leaf on the left and a comment section on the right. If you click on the image of the leaf, it will bring up the size of the image as-uploaded - allowing you the see the fine details that may be difficult to see through the default preview size. You can click the "x" in the upper-right hand corner of the image to return to the Leaf screen.<br/><br/>
                            In the comments section, you can type feedback and engage in conversation in regards to the Leaf you are viewing. Other users who have access to the Tree will be able to initiate conversation or reply to what you have written.<br/><br/>
                            Below the preview image of a Leaf, you can select the "Add Image" button. This will prompt you to a menu which allows you to add additional images or files to the Leaf which can be scrolled through once uploaded.<br/><br/>
                            In the upper-right hand corner of the Leaf, you will find a cogwheel. When clicked, you can rename or delete a leaf - returning you to the Tree.
                        </div>
                        <div class="col-12 col-lg-6">
                            <img style="width: 100%;" src="img/help/leafHelp.png">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-annotree" data-dismiss="modal">
                        <strong>Got It!</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
   
</div>
