<div ng-controller="layouts.StandardController" id="app">
    <div id="containWrapper">
        <!-- top navbar -->
        <div class="treeOptions">
            <div>
                <a href="#/app">
                    <i class="icon-home icon-xlarge icon-sidebar"></i>
                </a>
            </div>
            <div>
                <a href="#/app/docs">
                    <i class="icon-code icon-xlarge icon-sdebar"></i>
                </a>
            </div>
            <!--div>
                <a ng-click="openHelpModal()">
                    <i class="icon-question-sign icon-xlarge icon-sidebar"></i>
                </a>
            </div-->
            <div style="position:fixed;bottom:70px;width:80px" ng-click="userSettingsBox=!userSettingsBox">
                <img ng-src="{{user.profile_image_path}}" id="userIcon" />
            </div>
            <div style="position:fixed;bottom:10px;width:80px">
                <img src="img/AnnoTreeLogo.png" style="width:30px">
            </div>
        </div>

        <!-- User Settings Display -->
        <div id="userSettings" class="userSettingsBox" ng-class="{active:userSettingsBox}">
            <div>
                <img ng-src="{{user.profile_image_path}}">    
                <p class="userSettingsName" style="margin-left:80px;">{{user.first_name + " " + user.last_name}}</p>
            </div>
            <div id="footer">
                <button type="button" id="logoutButton" class="btn btn-annotree btn-sm" ng-click="logout()">
                    <strong>Logout</strong>
                </button>
            </div>
        </div>

        <button type="button" style="border-radius:5px 5px 0 0" id="feedback" class="btn btn-annotree" ng-click="openFeedbackModal()">
            <strong>Feedback</strong>
        </button>
        <!-- Include Body Content. -->
        <div class="wrapper">
            <div ng-switch="subview">
                <div ng-switch-when="forest" ng-include="'assets/app/views/forest/index.html'"></div>
                <div ng-switch-when="tree" ng-include="'assets/app/views/tree/index.html'"></div>
                <div ng-switch-when="forestFire" ng-include="'assets/app/views/layouts/404.html'"></div>
                <div ng-switch-when="docs" ng-include="'assets/app/views/docs/index.html'"></div>
            </div>
        </div>
    </div>

    <!-- slide over page for mobile options --> 
    <div id="mobileDashboard" render-pane>
        <div ng-switch="subview">
            <div ng-switch-when="forest" ng-include="'assets/app/views/forest/mobilePane.html'"></div>
            <!-- <div ng-switch-when="tree" ng-include="'assets/app/views/tree/mobilePane.html'"></div>--> 
        </div>
    </div>  

    <!-- Feedback Modal -->
    <div class="modal" id="feedbackModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:feedbackModalWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Submit Feedback</h3>
                </div>
                <form name="feedbackForm" ng-submit="submitFeedback()">
                    <div class="modal-body">
                        <p>{{feedbackMessage}}</p>
                        <div class="error-text" ng-show="feedbackErrorMessage">{{feedbackErrorText}}</div>
                        <div class="form-group" ng-show="feedbackProvide">
                            <textarea class="form-control" rows="5" type="text" placeholder="Feedback" ng-model="feedbackText" maxlength="5000" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-annotree" ng-show="feedbackProvide">
                            <strong>Submit Feedback</strong>
                        </button>
                        <button type="button" class="btn btn-annotree" ng-show="!feedbackProvide" data-dismiss="modal">
                            <strong>Close</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Help Modal -->
    <div class="modal" id="helpModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">How To Use AnnoTree</h3>
                </div>
                <div class="modal-body">
                    <h3>Collaboration On Application Development</h3>
                    <div class="row" style="padding:0 16px">
                        <div class="col-12">
                            AnnoTree is a tool for organizing and collaborating on application creation. At a high level we organize things into Forests (your organization), Trees (your projects), and Leaves (parts of your projects).
                        </div>
                    </div>
                    <h3>Forest</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            At the top level AnnoTree has forests.  This represents your company or organization for organizing all of your projects, or as we call them trees, together.
                        </div>
                        <div class="col-12 col-lg-6">
                            <img style="width: 100%;" src="img/help/forestHelp.png">
                        </div>
                    </div>
                    <h3>Trees</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            Inside forests you have your trees.  These represent applications or projects you are currently working on and hold all of the "leaves" that represent parts of your application.
                        </div>
                        <div class="col-12 col-lg-6">
                            <img style="width: 100%;" src="img/help/treeHelp.png">
                        </div>
                    </div>
                    <h3>Leaves</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            At the lowest level you have the various leaves on a tree.  These leaves hold the screenshots and annotations on your applications to collaborate on as a team.
                        </div>
                        <div class="col-12 col-lg-6">
                            <img style="width: 100%;" src="img/help/leafHelp.png">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-annotree" data-dismiss="modal">
                        <strong>Got It!</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
   
</div>
