<!-- Modify Leaf Modal -->


<!-- User Settings Modal -->
<div class="modal" id="userSettingsModal">
  <div class="content">
    <a class="close switch" gumby-trigger="|#userSettingsModal"><i class="icon-cancel"></i></a>
    <div class="row">
      <div class="ten columns centered center-text">
        <h2>Settings</h2>
        <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>

        <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#userSettingsModal">Close Modal</a></p>
      </div>
    </div>
  </div>
</div>