<div ng-controller="layouts.StandardController" class="l-standard">


  <!-- New Tree Modal -->
  <div class="modal" id="newTreeModal">
    <div class="content">
      <a class="close switch" gumby-trigger="|#newTreeModal"><i class="icon-cancel"></i></a>
      <div class="row">
        <div class="ten columns centered center-text">
          <h2>Add Tree</h2>
          <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>

          <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#newTreeModal">Close Modal</a></p>
        </div>
      </div>
    </div>
  </div>

        <!-- Static User Settigs Box -->
        <div id="userSettings" class="userSettingsBox userSettings">
            <!-- <p class="userSettingsClose"><a href="#" class="switch" gumby-trigger="|.userSettings"><i class="icon-remove-sign"></i></a></p> -->
            <div>
                <img id="userIcon" src="{{user.avatar}}" gumby-retina="" style="
                    float: left;
                    height: 60px;
                    margin-left: 10px;
                ">                
                <p class="userSettingsName" style="margin-left:80px;">{{user.name}}</p>
            </div>
            <div style="position: absolute; bottom: 0; height: 40px; width: 248px; background-color: #eee">
                <!-- <p class="btn info small settingsButton"><a class="switch active" gumby-trigger="#userSettingsModal | .userSettings">Settings</a></p> -->
                <p style="margin-top:10px;" class="btn success small logoutButton"><a href="" ng-click="logout()">Logout</a></p>
            </div>
        </div>

        <!-- App -->
        <div id="wrapper" class="switch" gumby-trigger="|.userSettings">
            <div class="navbar pretty" id="nav1">
                <div>
                    <h1 class="logo">
                        <a href="http://ccp.annotree.com" class="logoLink"><img id="annoTreeLogo" src="img/AnnoTreeFadeIn.png" gumby-retina /></a>
                    </h1>
                    <div class="userLinkDiv">
                        <a href class="userLink toggle responsiveHide" gumby-trigger=".userSettings">
                            <img id="userIcon" src="{{user.avatar}}" gumby-retina />
                        </a>
                        <span class="logoutArrow userSettings"></span>
                        <div class="btn pretty success responsiveShow" style="width: 50px;
                            height: 40px;
                            margin-top: 5px;">
                            <a href id="paneToggle" style="padding:0;text-align:center;"><i class="icon-cog responsiveShow" style="color:white;font-size:22pt;padding-top:4px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Include Body Content. -->
            <div ng-switch="subview" class="l-body">
                <div ng-switch-when="forest" ng-include=" 'assets/app/views/forest/index.html' "></div>
                <div ng-switch-when="tree" ng-include=" 'assets/app/views/tree/index.html' "></div>
                <div ng-switch-when="leaf" ng-include=" 'assets/app/views/leaf/index.html' "></div>
            </div>
        
        </div>
        
    
</div>
