<div ng-controller="layouts.StandardController" class="l-standard">




        <!-- Static User Settigs Box -->
        <div id="userSettings" class="userSettingsBox userSettings">
            <div>
                <img ng-src="{{user.avatar}}" gumby-retina="" style="
                    float: left;
                    height: 60px;
                    margin-left: 10px;
                    margin-top: 3px;
                ">                
                <p class="userSettingsName" style="margin-left:80px;">{{user.name}}</p>
            </div>
            <div style="position: absolute; bottom: 0; height: 40px; width: 248px; background-color: #eee;border-top:1px solid #bbb;">
                <!-- Link to settings Modal - Modal To Be Implmented -->
                <!-- <p class="btn success small settingsButton" style="margin-top:10px;border:1px solid #bbb;"><a class="switch active" gumby-trigger="#userSettingsModal | .userSettings">Settings</a></p> -->
                <p style="margin-top:10px;border:1px solid #bbb;" class="btn success small logoutButton"><a href="" ng-click="logout()">Logout</a></p>
            </div>
        </div>

        <!-- App -->
        <div id="wrapper" class="switch" gumby-trigger="|.userSettings">
            <div class="navbar pretty" id="nav1">
                <div>
                    <h1 class="logo">
                        <a href="http://ccp.annotree.com" class="logoLink"><img id="annoTreeLogo" src="img/AnnoTreeFadeIn.png" gumby-retina /></a>
                    </h1>
                    <div class="userLinkDiv">
                        <a href class="userLink toggle responsiveHide" gumby-trigger=".userSettings">
                            <img id="userIcon" ng-src="{{user.avatar}}" gumby-retina />
                        </a>
                        <span class="logoutArrow userSettings"></span>
                        <div class="btn pretty success responsiveShow" style="width: 50px;
                            height: 25px;
                            margin-top: 5px;">
                            <a href id="paneToggle" style="padding:0;text-align:center;"><i class="icon-cog responsiveShow" style="color:white;font-size:14pt;padding-top:4px;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Include Body Content. -->
            <div ng-switch="subview" class="l-body">
                <div ng-switch-when="forest" ng-include=" 'assets/app/views/forest/index.html' "></div>
                <div ng-switch-when="tree" ng-include=" 'assets/app/views/tree/index.html' "></div>
                <div ng-switch-when="forestFire" ng-include=" 'assets/app/views/layouts/404.html' "></div>
            </div>
        
        </div>

        <!-- slide over page for mobile options -->
        <div id="mobileOptions">
            junk
        </div>
        
    
</div>
