<!-- New Forest Modal -->
<div class="modal" id="newForestModal" ng-controller="forest.ForestController">
    <div class="content">
      <a class="close switch" gumby-trigger="|#newTreeModal"><i class="icon-cancel"></i></a>
      <div class="row">
        <div class="ten columns centered center-text">
          <h2>Add Forest</h2>
          <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>
          <p class="btn primary medium"><a href ng-click="newForest()">New Forest</a></p>
          <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#newForestModal">Close Modal</a></p>
        </div>
      </div>
    </div>
</div>

<!-- New Tree Modal -->
<div class="modal" id="newTreeModal" ng-controller="forest.ForestController">
    <div class="content">
      <a class="close switch" gumby-trigger="|#newTreeModal"><i class="icon-cancel"></i></a>
      <div class="row">
        <div class="ten columns centered center-text">
          <h2>Add Tree</h2>
          <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>
          <p class="btn primary medium"><a href ng-click="newTree()">New Tree</a></p>
          <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#newTreeModal">Close Modal</a></p>
        </div>
      </div>
    </div>
</div>

<!-- Modify Tree Modal -->
<div class="modal" id="modifyTreeModal" ng-controller="forest.ForestController">
    <div class="content">
        <a class="close switch" gumby-trigger="|#modifyTreeModal"><i class="icon-cancel"></i></a>
        <div class="row">
            <div class="ten columns centered center-text">
                <h2>Modify Tree</h2>
                <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>
                
                <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#modifyTreeModal">Close Modal</a></p>
            </div>
        </div>
    </div>
</div>

<!-- New Leaf Modal -->
<div class="modal" id="newLeafModal">
  <div class="content">
    <a class="close switch" gumby-trigger="|#newLeafModal"><i class="icon-cancel"></i></a>
    <div class="row">
      <div class="ten columns centered center-text">
        <h2>Add Leaf</h2>
        <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>

        <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#newLeafModal">Close Modal</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Modify leaf Modal -->
<div class="modal" id="modifyLeafModal">
    <div class="content">
        <a class="close switch" gumby-trigger="|#modifyLeafModal"><i class="icon-cancel"></i></a>
        <div class="row">
            <div class="ten columns centered center-text">
                <h2>Modify Leaf</h2>
                <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>
                
                <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#modifyLeafModal">Close Modal</a></p>
            </div>
        </div>
    </div>
</div>

<!-- User Settings Modal -->
<div class="modal" id="userSettingsModal">
  <div class="content">
    <a class="close switch" gumby-trigger="|#userSettingsModal"><i class="icon-cancel"></i></a>
    <div class="row">
      <div class="ten columns centered center-text">
        <h2>Settings</h2>
        <p>Gumby modals are easy to make using Toggles &amp; Switches. The <span class="label default">.modal</span> class already has the required styles which you can open and close using Toggles &amp; Switches.</p>

        <p class="btn primary medium"><a href="#" class="switch active" gumby-trigger="|#userSettingsModal">Close Modal</a></p>
      </div>
    </div>
  </div>
</div>