<div id="treeIndex" ng-controller="tree.TreeController">
    <div class="treePageHeader">
        <div class="treePageHeaderText">
            <div style="float:left">
                <div class="icon-treeSettings" ng-click="openModifyTreeModal()">
                    {{tree.name}}&nbsp;
                    <i class="icon-cog"></i>
                </div>
            </div>
            <div style="margin-right:15px;float:right">
                <div style="display:table-cell;vertical-align:middle;height:35px;">
                    <span style="margin-right:20px;vertical-align:middle" ng-show="subview=='subBranches'">
                        <select ng-model="leafDisplay" ng-options="ld.name for ld in leafDisplayOptions">
                        </select>
                    </span>
                    <button class="btn btn-annotree btn-sm" ng-click="openNewLeafModal()" style="width:175px"><i class="icon-plus"></i> Add A New Leaf</button>
                </div>
            </div>
        </div>
    </div>
    <div id="branchHolder" class="responsiveHide">
        <div ng-repeat="branch in tree.branches">
            <div ng-switch="activeBranch.id==branch.id">
                <div ng-switch-when="true" class="activeBranch">
                    <i ng-class="branch.icon" ng-show="branch.icon!=''"></i>{{branch.name}}
                </div>
                <div ng-switch-when="false" class="branch" ng-click="changeBranch(branch.id)" data-jqyoui-options="{hoverClass:'branchHover',tolerance:'pointer'}" data-drop="true" jqyoui-droppable="{multiple:true}" data-drop-model="tree.branches[{{$index}}]">

                    <i ng-class="branch.icon" ng-show="branch.icon!=''"></i>{{branch.name}}
                </div>
            </div>
        </div>
        <div id="branchButtons">
            <button ng-click="openNewBranchModal()" class="btn btn-default">
                <i class="icon-plus"></i>&nbsp;Add
            </button>
            <button class="btn btn-annotree">
                <i class="icon-edit"></i>&nbsp;Edit
            </button>
        </div>
    </div>
    <div id="treeInvite"> 
        <button class="btn btn-annotree" ng-click="openModifyTreeModal()">
            <i class="icon-user"></i>&nbsp;Invite Users
        </button>
    </div>

    <!-- New Leaf Modal -->
    <div class="modal" id="newLeafModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:newLeafWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Create Leaf</h3>
                </div>
                <form name="createLeafForm" ng-submit="newLeaf()">
                    <div class="modal-body">
                        <p class="error-text" ng-show="newLeafErrorMessage">{{newLeafErrorText}}</p>
                        <div class="form-group">
                            <input id="leafName" class="form-control" type="text" placeholder="Leaf name" ng-model="newLeafName" maxlength="512" />
                            <span class="tipText">Tip: A leaf is an item that you wish to share with others or track</span>
                        </div>
                        <span class="btn btn-annotree fileinput-button">
                            <i class="icon-plus"></i>
                            <span>Add file...</span>
                            <input type="file" name="files" id="annotationImage" />
                        </span>
                        <span style="margin-left:5px" id="newLeafAnnotation"></span>
                    </div>
                    <div>
                        Note that only images (max size is 10MB) can be uploaded at this time
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-annotree">
                            <strong>Create</strong>
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modify Tree Modal -->
    <div class="modal" id="modifyTreeModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:modifyTreeModalWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" ng-hide="treeRenameShow" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <div ng-click="showRenameTree()" style="cursor:pointer" ng-hide="treeRenameShow">
                        <h3 class="modal-title">{{tree.name}}</h3>
                    </div>
                    <div ng-show="treeRenameShow" style="text-align:left">
                        <div class="error-text" ng-show="treeRenameErrorMessage">{{treeRenameErrorText}}</div>
                        <input class="form-control" style="width:100%;display:block;margin-bottom:5px" rows="3" ng-model="treeRenameText" maxlength="45" />
                        <button type="button" class="btn btn-annotree" ng-click="renameTree()">Rename</button>
                        <button type="button" class="btn btn-warning" ng-click="treeRenameShow=false">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <h4 style="margin-top:0">Invite Users</h4>
                    <div class="error-text" ng-show="removeUserErrorMessage">{{removeUserErrorText}}</div>
                    <div id="treeModifyUsers">
                        <table>
                            <tbody>
                                <tr ng-repeat="user in tree.users">
                                    <td>
                                        {{user.first_name}} {{user.last_name}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                    <td>
                                        <i ng-click="removeFromTree(user)" class="icon-remove-circle" ng-hide="user.email == tree.forest_owner.email"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 error-text" ng-show="addUserErrorMessage">{{addUserErrorText}}</div>
                        <div class="col-xs-10">
                            <input id="userList" class="form-control" type="email" placeholder="Email" /> 
                        </div>
                        <div class="col-xs-2">
                            <a class="btn btn-annotree" ng-click="addUser()"><strong>Add</strong></a>
                        </div>
                        <div class="tipText col-xs-10">
                            Tip: Search for a user or input an email to invite a new user to this tree.
                        </div>
                    </div>
                    <hr />
                    <h4 style="margin-top:0">SDK Key</h4>
                    <div class="code">
                        {{tree.token}}
                    </div>
                    <p>
                        To learn how to integrate your app with AnnoTree and the SDK key head to the
                        <a href="#/app/docs" data-dismiss="modal">Documentation</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-annotree" data-dismiss="modal">
                        <strong>Close</strong>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="openDeleteTree()">
                        <strong>Delete</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Delete Tree Confirmation Modal-->
    <div class="modal" id="deleteTreeModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:deleteTreeModalWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Confirm Tree Deletion</h3>
                </div>
                <div class="modal-body">
                    <div class="error-text" ng-show="deleteTreeErrorMessage">{{deleteTreeErrorText}}</div>
                    <p>Are you sure you want to delete this tree? This action can not be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteTree()">
                        <strong>Yes</strong>
                    </button>
                    <button type="button" class="btn btn-annotree" data-dismiss="modal">
                        <strong>No</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- New Branch Modal-->
    <div class="modal" id="newBranchModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:newBranchModalWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Create Branch</h3>
                </div>
                <form name="createLeafForm" ng-submit="newBranch()">
                    <div class="modal-body">
                        <div class="error-text" ng-show="newBranchErrorMessage">{{newBranchErrorText}}</div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Branch name" ng-model="newBranchName" maxlength="45" />
                            <span class="tipText">Tip: A branch helps you to group and organize leaves</span>
                        </div>
                        <div class="branchTypeSelect">
                            <button type="button" class="btn btn-lg" style="width:100px;border-radius: 10px 0px 0px 10px;margin-right:-5px" ng-click="selectedBranchType='grid'" ng-class="{'btn-pressed':selectedBranchType=='grid','btn-default':selectedBranchType!='grid'}">
                                <i class="icon-th"></i>&nbsp;Grid
                            </button>
                            <button type="button" class="btn btn-lg" style="width:100px;border-radius: 0px 10px 10px 0px;" ng-click="selectedBranchType='tasks'" ng-class="{'btn-pressed':selectedBranchType=='tasks','btn-default':selectedBranchType!='tasks'}">
                                <i class="icon-tasks icon-rotate-90"></i>&nbsp;Tasks
                            </button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-annotree">
                            <strong>Create</strong>
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-switch="subview">
        <div ng-switch-when="looseLeaves" ng-include="'assets/app/views/tree/leaves.html'"></div>
        <div ng-switch-when="subBranches" ng-include="'assets/app/views/tree/sub-branches.html'"></div>
    </div>
</div>
