<!-- View Leaf Modal -->
<div class="modal" id="viewLeafModal" data-backdrop="false" ng-controller="forest.LeafController" style="text-align:center;">
  <div class="" style="height:100%;">
    <div style="height:100%;">
        <img class="singleLeafImage" style="vertical-align:middle;cursor:pointer;max-width:90%;max-height:90%;margin:0;border:10px solid #444;" ng-src="{{leaf.image}}" ng-click="closeViewLeafModal()" gumby-retina />
    </div>
  </div>
</div>

<!-- Modify Leaf Modal -->
<div class="modal" id="modifyLeafModal" data-backdrop="false" ng-controller="forest.LeafController" ng-model="modifyLeaf">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="closeModifyLeafModal()">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Update Leaf</h3>
            </div>
            <form name="modifyLeafForm" ng-submit="modifyLeafFn()">
                <div class="modal-body">
                    <div class="error-text" id="invalidModifyLeaf" ng-show="invalidModifyLeaf"></div>
                    <div class="form-group">
                        <input id="leafName" class="form-control" type="text" placeholder="Leaf name" ng-model="modifyLeaf.name" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-annotree" ng-click="modifyLeafFn()">
                        <strong>Rename</strong>
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteLeafCallbackModal">
                        <strong>Delete</strong>
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="cancelModifyLeafModal()">
                        <strong>Cancel</strong>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modify Leaf Delete Callback Modal -->
<div class="modal" id="deleteLeafCallbackModal" ng-controller="forest.LeafController" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeModifyLeafModal()">
                    <i class="icon-remove-circle"></i>
                </button>
                <h3 class="modal-title">Confirm Leaf Deletion</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this? This action can not be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteLeaf()">
                    <strong>Yes</strong>
                </button>
                <button type="button" class="btn btn-annotree" data-dismiss="modal">
                    <strong>No</strong>
                </button>
            </div>
        </div>
    </div>
</div>

