<div id="treeContainer" ng-controller="forest.LeafController">
    <div ng-include=" 'assets/app/views/tree/leaf-modals.html' "></div>
    <div id="leaf">
        <div class="cardLarge">
            <div class="cardNameLarge">
                <a ng-href="#/app/{{treeInfo.id}}">
                    <i id="leafBack" class="icon-circle-arrow-left" style="margin-left:5px;margin-top:2px;float:left"></i>
                </a>
                <strong>{{leaf.name}}</strong>
                <a ng-click="openModifyLeafModal()">
                    <i id="leafBack" class="icon-cog" style="margin-right:5px;margin-top:2px;float:right"></i>
                </a>
            </div>
            <div class="leafHolder">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div id="annotationCarousel" class="carousel slide" data-interval="false">
                            <ol class="carousel-indicators">
                                <li data-target="#annotationCarousel" ng-class="{active: $index==leaf.annotations.length-1}" ng-repeat="annotation in leaf.annotations" data-slide-to="{{$index}}"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="cardImgLarge item" ng-class="{active: $index==leaf.annotations.length-1}" ng-repeat="annotation in leaf.annotations">
                                    <img class="leafImage" ng-src="{{annotation.path}}" ng-click="openAnnotationModal(annotation.path, annotation.filename)"/>
                                    <div>
                                        Created: {{annotation.created_at | date:'fullDate'}}
                                    </div>
                                </div>
                            </div>
                            <a class="leaf carousel-control" href="#annotationCarousel" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#annotationCarousel" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                        <form name="createLeafForm" ng-submit="addNewAnnotation()">
                            <div class="addAnnotation" style="margin-top:40px">
                                <div class="error-text" id="invalidAnnotation"></div>
                                <span class="btn btn-annotree fileinput-button">
                                    <i class="icon-plus"></i>
                                    <span>Add Image</span>
                                    <input type="file" name="files" id="newAnnotation" ng-model="newAnnotation" />
                                </span>
                                <span style="margin-left:5px" id="annotationName">No file selected</span>
                            </div>
                            <div class="addAnnotation" style="margin-top:10px">
                                <button type="submit" id="annotationUploadBtn" class="btn btn-annotree" data-loading-text="Uploading...">
                                    <strong>Upload</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="leafComments" >
                            <div class="leafComment" ng-repeat="comment in leaf.comments | orderBy:'created_at' | date:'yyyy-MM-dd HH:mm:ss'">
                                <div class="userImageHolder">
                                    <img class="userCommentImage" ng-src="{{comment.avatar}}"> 
                                </div>
                                <div class="userCommentHolder"> 
                                    <p class="userCommentName">{{comment.first_name}} {{comment.last_name}}</p> 
                                    <p class="userComment">{{comment.comment}}</p>
                                </div>
                                <hr class="smallHR"/>
                            </div>
                            <div class="leafComment">
                                <div class="error-text" id="leafCommentError" ng-modal="leafCommentError"></div>
                                <div class="userImageHolder">
                                    <img class="userCommentImage" ng-src="{{user.avatar}}"> 
                                </div>
                                <div class="userCommentHolder">
                                    <form class="form-horizontal" name="leafCommentForm" ng-submit="addLeafComment()">
                                        <input type="text" class="form-control" maxlength="2048" id="newComment" placeholder="Enter a comment" ng-model="leafComment.comment" required />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div post-render>
    <!--
  <div id="treeHeader" class="valign">
      <div id="crumbHolder">
      <span class="responsiveHide">
        <a ng-href="#/app/{{treeInfo.id}}"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt;margin-right:15px;"></i></a>
        <a href ng-click="openModifyLeafModal()" style="color:white;">{{leaf.name}} <i class="icon-cog" style="color:white;"></i></a>
      </span>
      <span class="responsiveShow">
        <a ng-href="#/app/{{treeInfo.id}}" style="margin-left:15px;"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt"></i></a>
      </span>
    </div>
    <div class="responsiveShowTC" style="text-align:center;width:100%" ng-click="openModifyLeafModal()">
        <a style="color:white;" href ng-click="openModifyLeafModal()">{{leaf.name}}  <i class="icon-cog" style="color:white;"></i></a>
    </div>
    <div id="newElementHolder"  class="switch" gumby-trigger="#newAnnotationModal">
    </div>
  </div>
  <div id="treeElements">
    <div id="singleLeafHolder" class="" post-render>
    <div style="height:100%;">
        <img class="singleLeafImage" ng-src="{{leaf.image}}" ng-click="openViewLeafModal()" style="cursor:pointer" gumby-retina />-->

