<div id="leafModalsPage" ng-controller="tree.LeafController">
    <div class="modal" id="leafModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" id="leafModalWorking">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" ng-hide="leafRenameShow" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <div ng-click="showLeafRename()" ng-hide="leafRenameShow" style="cursor:pointer">
                        <h3 style="line-height:26px" class="modal-title">{{leaf.name}}</h3>
                    </div>
                    <div ng-show="leafRenameShow" style="text-align:left">
                        <div class="error-text" ng-show="leafRenameErrorMessage">{{leafRenameErrorText}}</div>
                        <textarea class="form-control" style="width:100%;display:block;margin-bottom:5px" rows="3" ng-model="leafRenameText" maxlength="512"></textarea>
                        <button type="button" class="btn btn-annotree" ng-click="renameLeaf()">Rename</button>
                        <button type="button" class="btn btn-warning" ng-click="leafRenameShow=false">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div id="annotationCarousel" class="carousel slide" data-interval="false" ng-show="annotationCarousel">
                                <ol class="carousel-indicators" ng-show="showCarouselIndicators">
                                    <li data-target="#annotationCarousel" ng-class="{active: $index==leaf.annotations.length-1}" ng-repeat="annotation in leaf.annotations" data-slide-to="{{$index}}"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="cardImgLarge item" ng-class="{active: $index==leaf.annotations.length-1}" ng-repeat="annotation in leaf.annotations">
                                        <img class="leafImage" ng-src="{{annotation.path}}" ng-click="openAnnotationModal(annotation.path)"/>
                                        <div>
                                            <span id="annotationAbout">Created: {{annotation.created_at | date:'fullDate'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="leaf carousel-control" href="#annotationCarousel" data-slide="prev" ng-show="showCarouselIndicators">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#annotationCarousel" data-slide="next" ng-show="showCarouselIndicators">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                            <div id="addAnnotation">
                                <a class="btn btn-annotree" ng-click="openUploadAnnotationModal()">Add Image</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="leafComments" >
                                <div id="commentsWrapper">
                                    <div class="leafComment" ng-repeat="comment in leaf.comments | orderBy:'created_at' | date:'yyyy-MM-dd HH:mm:ss'">
                                        <div class="userImageHolder">
                                            <div class="userIcon unselectable">
                                                {{comment.first_name.substr(0,1) + comment.last_name.substr(0,1)}}
                                            </div>
                                        </div>
                                        <div class="userCommentHolder"> 
                                            <p class="userCommentName">{{comment.first_name}} {{comment.last_name}}</p> 
                                            <p class="userComment">{{comment.comment}}</p>
                                        </div>
                                        <hr class="smallHR"/>
                                    </div>
                                </div>
                                <div class="leafComment" id="commentArea">
                                    <div class="error-text" ng-show="leafCommentErrorMessage">{{leafCommentErrorText}}</div>
                                    <div class="userImageHolder">
                                        <div class="userIcon unselectable">
                                            {{user.first_name.substr(0,1) + user.last_name.substr(0,1)}}
                                        </div>
                                    </div>
                                    <div class="userCommentHolder">
                                        <form class="form-horizontal" ng-submit="addLeafComment()">
                                            <input type="text" class="form-control" maxlength="2048" id="newComment" placeholder="Enter a comment" ng-model="leafComment.comment" required />
                                            <div class="tipText" style="width:100%;text-align:center">Press enter to send your comment</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-annotree" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="openDeleteLeaf()">
                        <strong>Delete</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload Annotation Modal -->
    <div class="modal" id="uploadAnnotationModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:uploadAnnotationWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Add Image</h3>
                </div>
                <form name="createLeafForm" ng-submit="uploadAnnotation()">
                    <div class="modal-body">
                        <div class="error-text" ng-show="uploadAnnotationErrorMessage">{{uploadAnnotationErrorText}}</div>
                        <span class="btn btn-annotree fileinput-button">
                            <i class="icon-plus"></i>
                            <span>Add Image</span>
                            <input type="file" name="files" id="newAnnotation" ng-model="newAnnotation" />
                        </span>
                        <span style="margin-left:5px" id="annotationName">No file selected</span>
                        
                    </div>
                    <div>
                        Note that only images (max size is 10MB) can be uploaded at this time
                    </div>
                    <div class="modal-footer">
                       <button type="submit" class="btn btn-annotree">
                            <strong>Upload</strong>
                        </button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Callback Modal -->
    <div class="modal" id="deleteLeafCallbackModal" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="working" ng-class="{active:deleteLeafWorking}">
                    <i class="icon-working icon-cog icon-spin"></i>
                </div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-remove-circle"></i>
                    </button>
                    <h3 class="modal-title">Confirm Leaf Deletion</h3>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this leaf? This action can not be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="deleteLeaf()">
                        <strong>Yes</strong>
                    </button>
                    <button type="button" class="btn btn-annotree" data-dismiss="modal">
                        <strong>No</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
