<div id="leaves">
    <div class="container">
        <div class="row" ng-repeat="leafRow in (leaves.length/3 | threeColumnFilter)" post-render> 
            <div class="col-6 col-lg-4" ng-repeat="leaf in leaves.slice(3*$index, 3*$index + 3)"> 
                <div ng-switch="leaf.id">
                    <div ng-switch-when="-1">
                        <div class="cardHolder">
                            <div class="card new">
                                <div class="cardName cardNameNew">
                                    <strong>New Leaf</strong>
                                </div>
                                <div class="cardImg cardImgNew" ng-click="openNewLeafModal()">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <div class="card">
                            <a ng-href="#/app/{{treeInfo.id}}/{{leaf.id}}">
                                    <div class="cardName">
                                        <strong>{{leaf.name}}</strong>
                                    </div>
                                    <div class="cardImg">
                                        <img ng-src="{{leaf.annotation}}" />
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--


                                <a href class="switch newTreeLinkClass" ng-click="openNewLeafModal()">
                                    <div class="cardTitleBar valign"><div>{{leaf.name}}</div></div>
                                                <div class="treeLogoContainer">
                                                    <div style="margin-top:50px;color:white;font-size:130pt;font-weight:800;">
                                                        +
                                                    </div>

<div ng-switch-default>
                                    <div class="cardHolder">
                                        <div class="card">
                                            <div class="cardTitleBar valign"><div>{{leaf.name}}</div></div>
                                            <a href="#/app/{{treeInfo.id}}/{{leaf.id}}">
                                                <div class="leaf valign">
                                                    <div>
                                                        <img class="leafImage" ng-src="{{leaf.annotation}}" gumby-retina />
                                                    </div>
                                                </div>
                                            </a>
                                    </div>
                                </div>
                            </div>


          <div id="treeHeader" class="valign">
            <div id="crumbHolder">
              <span class="responsiveHide">
                <a ng-href="#/app"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt;margin-right:15px;"></i></a>
                <a href ng-click="openModifyTreeModal(treeInfo)" style="color:white;">{{treeInfo.name}} <i class="icon-cog" style="color:white;"></i></a>
              </span>
              <span class="responsiveShow">
                <a ng-href="#/app" style="margin-left:15px;"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt"></i></a>
              </span>
            </div>
            <div class="responsiveShowTC" style="text-align:center;width:100%" ng-click="openModifyTreeModal()">
                <a style="color:white;" href ng-click="openModifyTreeModal(treeInfo)">{{treeInfo.name}}  <i class="icon-cog" style="color:white;"></i></a>
            </div>
            <div id="newElementHolder"  class="switch" ng-click="openModifyUsersModal()">
                <div id="newElementButton" class=" medium success btn">
                    <div style="width:100%;height:100%;">
                        <button>
                            <a href="" id="newElementLink" class="switch" ng-click="openModifyUsersModal()">
                                <i class="icon-ne icon-plus-sign" style="margin-right:0px;"></i>
                                <span class="responsiveHide" style="margin-left:5px;">Users</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
          </div>
          <div id="treeElements" post-render>
                <div id="treeElementsDiv" class="twelve colgrid treeBG" ng-controller="forest.TreeController" ng-show="noLeaves == ''">
                    <div class="row" ng-repeat="leafRow in (leaves.length/3 | threeColumnFilter)" post-render> 
                        <div class="four columns" ng-repeat="leaf in leaves.slice(3*$index, 3*$index + 3)"> 
                            <div ng-switch="leaf.id">
                                <div ng-switch-when="-1">
                                    <div class="cardHolder">
                                        <div class="card switch active" style="opacity:0.6;">
                                            <a href class="switch newTreeLinkClass" ng-click="openNewLeafModal()">
                                                <div class="cardTitleBar valign"><div>{{leaf.name}}</div></div>
                                                <div class="treeLogoContainer">
                                                    <div style="margin-top:50px;color:white;font-size:130pt;font-weight:800;">
                                                        +
                                                    </div>
                                                    <div style="margin-top:80px;font-weight:800;"class="cardLabel">{{leaf.description}}</div>
                                                </div>
                                                <div class="treeModify">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <div class="cardHolder">
                                        <div class="card">
                                            <div class="cardTitleBar valign"><div>{{leaf.name}}</div></div>
                                            <a href="#/app/{{treeInfo.id}}/{{leaf.id}}">
                                                <div class="leaf valign">
                                                    <div>
                                                        <img class="leafImage" ng-src="{{leaf.annotation}}" gumby-retina />
                                                    </div>
                                                </div>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


          </div>  end trees -->
