<div id="leaves" ng-controller="tree.LeavesController">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="leaf in leaves" data-jqyoui-options="{revert: 'invalid', appendTo:'body'}" data-drag="true" jqyoui-draggable="{animate:true, index:{{$index}}}" ng-model="leaves"> <!-- | reverse -->
            <a class="leafCardLink" ng-href="#/app/{{tree.forest_id}}/{{tree.id}}/{{activeBranch.id}}/{{leaf.id}}" style="text-decoration:none">
                <div class="card leafCard" back-img="{{leaf.annotation}}" >
                    <div class="cardName leafCardName">
                        {{leaf.name}}
                    </div>
                    <div class="cardImg cardImgLeaf" ></div>
                </div>
            </a>
        </div>
    </div>
</div>
