<div id="leaves" ng-controller="tree.LeavesController">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="leaf in leaves | orderBy:'priority'">
                <div class="card leafCard" ng-click="showLeaf(leaf.id)" back-img="{{leaf.annotation}}"  data-jqyoui-options="{revert: 'invalid', appendTo:'body'}" data-drag="true" jqyoui-draggable="{animate:true, index:{{$index}}}" ng-model="leaves" >
                <div class="cardName leafCardName">
                    {{leaf.name}} p{{leaf.priority}}
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'assets/app/views/tree/leaf-modals.html'"></div>
</div>
