<div class="mobile-dash-wrap" ng-controller="tree.TreeController">
    <ul class="nav navbar-nav">
        <li>
            <a ng-click="mobileGoToHome()">
                <strong>Home</strong>
            </a>
        </li>
        <li>
        <!--a ng-click="openHelpModal()" ng-controller="layouts.StandardController"-->
            <a>
                <strong>Help</strong>
            </a>
        </li>
    </ul> 
    <div class="appName">
        <a ng-href="#/app/{{treeInfo.id}}">{{treeInfo.name}}</a>
    </div> 
    <div>
        <img class="appLogo" ng-src="{{treeInfo.logo}}" />
    </div>
    <hr/>
    <div style="margin-top:20px;">
        <div class="dashLinks" ng-click="mobileGoToDocs(treeInfo.id)">
            <div class="dashLinksIcon"><i class="icon-code"></i></div><div class="dashLinksText">SDK</div>
        </div>
        <div class="dashLinks" ng-click="openModifyUsersModal()">
            <div class="dashLinksIcon"><i class="icon-group"></i></div><div class="dashLinksText">Users</div>
        </div>
        <div class="dashLinks" ng-click="openModifyTreeModal(treeInfo)">
            <div class="dashLinksIcon"><i class="icon-cog"></i></div><div class="dashLinksText">Settings</div>
        </div>
    </div>
</div>
