<div class="mobile-dash-wrap" ng-controller="forest.TreeController">
    <ul class="nav navbar-nav">
        <li>
            <a ng-click="mobileGoToHome()">
                <strong>Home</strong>
            </a>
        </li>
        <li>
            <a ng-click="openHelpModal()" ng-controller="layouts.StandardController">
                <strong>Help</strong>
            </a>
        </li>
        <li>
            <a ng-click="mobileGoToDocs(treeInfo.id)">
                <strong>Developer Resources</strong>
            </a>
        </li>
    </ul> 
    <div class="appName">
        <a ng-href="#/app/{{treeInfo.id}}">{{treeInfo.name}}</a>
    </div> 
    <div>
        <img class="appLogo" ng-src="{{treeInfo.logo}}" />
    </div>
    <div style="margin-top:10px;">
        <p style='font-weight:bold'>API Key:</p>
        <p>{{treeInfo.token}}</p>
    </div>
    <hr/>
    <div style="margin-top:20px;">
        <div class="dashLinks" ng-click="openModifyUsersModal()">
            <i class="icon-group"></i>&nbsp;Users
        </div>
        <div class="dashLinks" ng-click="openModifyTreeModal(treeInfo)">
            <i class="icon-cog"></i>&nbsp;Tree Settings
        </div>
    </div>
</div>
