<div id="branchColumnHolder" ng-controller="tree.SubBranchController">
    <div ng-repeat="branch in parentBranch.branches | orderBy:'priority'" class="col-sm-4">
        <div class="branchColumnTitle">
            {{branch.name}} 
            <div class="branchCountLabel">
                {{branch.leaves.length}} <!--numLeaves[$index] -->
            </div>
        </div>
        <hr class="branchTitleHr" />
        <div class="branchColumnLeaves" ui-multi-sortable ng-model="parentBranch" model-subset="branches[{{$index}}].leaves">
            <div ng-repeat="leaf in branch.leaves" ng-show="leaf.show">
                <div class="card-col col-xs-12" ng-click="showLeaf($event, leaf.id)">
                    <div class="card subBranchCard">
                        <div class="cardName leafCardName">
                            {{leaf.name}}
                        </div>
                        <div class="cardInformation">
                            <div style="padding:0 0 5px 5px">
                                <button type="button" id="assign" class="btn btn-annotree btn-xs" ng-click="openAssign($event, leaf.id, branch.id)">
                                    + Assign
                                </button>
                            </div>
                            <div>
                                <img id="assignedUser" ng-repeat="user in leaf.assigned" class="assignedUser" ng-src="{{user.profile_image_path}}" ng-click="openAssignedUser($event, leaf.id, user, branch.id)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'assets/app/views/tree/leaf-modals.html'"></div>
</div>
