html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family:'Lato',GeosansLightRegular, Helvetica, Arial, sans-serif !important;
  /*background: url('../img/gray-fabric-pattern-light.jpg') no-repeat center center fixed;*/
  background-color: #f4f4f4;/*#fafafa;*/
  -webkit-background-size: cover; /*for webKit*/
  -moz-background-size: cover; /*Mozilla*/
  -o-background-size: cover; /*opera*/
  background-size: cover; /*generic*/
  height: 100%;
  width: 100%;
}

div[ng-switch], div[ng-switch-when], div[ng-controller] {
    height: 100%;
    width: 100%;
}

p {
  font-family: 'Lato',GeosansLightRegular, Helvetica, Arial, sans-serif;
}

a {
  color: #84db69;
}

a:hover{
  color: #84db69;
}

.btn > a:hover {
  color: white;
}

.navbar {
  /*width: 100%;
  height: 45px;
  min-height: 45px;
  display: block;
  margin-bottom: 20px;*/
  background: #555;
  margin: 0;
  z-index: 800;
}

.pretty.navbar {
  height: 40px;
  min-height: 40px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aff19a), color-stop(100%, #84db69));
  background-image: -webkit-linear-gradient(#aff19a, #84db69);
  background-image: -moz-linear-gradient(#aff19a, #84db69);
  background-image: -o-linear-gradient(#aff19a, #84db69);
  background-image: -webkit-linear-gradient(top, #aff19a, #84db69);
  -webkit-box-shadow: inset 0 1px 1px #aff19a, 0 1px 2px rgba(0, 0, 0, 0.8) !important;
  box-shadow: inset 0 1px 1px #aff19a, 0 1px 2px rgba(0, 0, 0, 0.8) !important;
}
/*
.pretty.navbar {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aff19a), color-stop(100%, #84db69));
    background-image: -webkit-linear-gradient(#aff19a, #84db69);
    background-image: -moz-linear-gradient(#aff19a, #84db69);
    background-image: -o-linear-gradient(#aff19a, #84db69);
    background-image: linear-gradient(#aff19a, #84db69);
}*/

.navbar .logo {
  height: 38px;
  line-height: 24px;
  float:left;
  width:100%;
  text-align:center;
  margin-top:5px;
}

.navbar ul li > a {
  height: 45px;
}

.authenticateHeader {
  height:80px;
  background-color:#f7f8f5;
  text-align:center;
  border-bottom: 1px solid #ccc;
}

.authenticateFooter {
  height:85px;
  background-color:#f7f8f5;
  border-top:1px solid #ccc;
}

.forgotPassword {
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: center;
    font-size:10pt;
    float:left;
}

.signUpHere {
    margin-bottom: 0px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
    font-size:10pt;
    float:right;
}

.ccpRow {
  max-width: 100%;
  padding-top: 5px;
}

#annoTreeLogo {
  height: 30px;
}

.userLink {
  color: white;
}

.userLink:hover {
  color: white;
}

#userIcon {
  border: 2px solid; 
  height:30px;
  margin-top:3px;
}

.navbar a.toggle {
  display: block;
}

.userSettingsBox {
  box-shadow: 1px 1px 10px #bbb;
  background-color: white;
  width: 250px;
  float: right;
  position: absolute;
  top: 43px;
  right: 15px;
  height: 120px;
  z-index: 999;
  border: 1px solid #bbb;
  display: none;
}

.userSettings.active {
  display:block;
}

.userSettingsClose {
    position:absolute;
    top:0px;
    right:0px;
}

.userSettingsClose > a {
    color:#444;
}

.userSettingsName {
    margin-left: 10px;
    margin-top: 5px;
    height: 23px;
}

.userLinkDiv {
    position:absolute;
    right:20px;
    top: 2px;
}

.logoutArrow {
  margin: 36px 0 0;
  right: 6px;
  border-style: dashed dashed solid;
  border-color: transparent;
  border-bottom-color: white;
  border-width: 0 10px 10px;
  cursor: default;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1000;
  display: none;
}

.logoutButton {
  float:right;
  margin-right: 10px;
  margin-top: 0px;
}

.settingsButton {
  float:left;
  margin-left: 10px;
  margin-top: 0px;
}

.navbar li .dropdown ul > li a {
  background-color: gray;
}

.navbar li .dropdown ul > li a:hover {
  background-color: darkgray;
}

.navbar .logo a.logoLink {
  width:40px;
  margin:0 auto;
  padding: 0;
  line-height: 0px;
  height: 30px;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#scaffold {
  height: 100%;
	width:100%;
	background-color: transparent;
  /*border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 00px solid transparent;
  border-top: 80px solid transparent;
  margin-top: -85px;*/
  border-top: 40px solid transparent;
  margin-top: -40px;
}

#mainContent {
  height: 100%;
	width:100%;
	background-color: transparent; /*#f4f4f4;*/ /*#eae6e1;*/
  border-top: 40px solid transparent;
  margin-top: -40px;
  /*padding: 30px;*/
  /*-moz-box-shadow: 0 0 10px #444;
  -webkit-box-shadow: 0 0 10px #444;
  box-shadow: 0 0 10px #444;*/
  /*border: 1px solid #888;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;*/
}

.forestHeader {
  text-align: center;
  margin-top: 10px;
}

.forestHR {
  margin-top: -12px;
  width: 90%;
  margin-left: 5%;
  border-bottom: none;
}

#trees {
  height: 100%;
  width: 100%;
  overflow: auto;
  border-top: 40px solid transparent;
  margin-top: -40px;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}

.cardHolder {
  margin: 20px 0;
	width: 100%;
  text-align: center;
}

.card {
  text-align: center;
	max-width: 195px; /* 200px */
	height: 245px; /* 250px */
	background-color: white; // #f7f8f5;
  color: #444444;
  /*-moz-box-shadow: 0 0 5px #444;
  -webkit-box-shadow: 0 0 5px #444;
  box-shadow: 0 0 5px #444;*/
  margin: 0 auto;
  /*border: 10px solid white;*/
  /*border: 1px solid  #bbb;*/ /*#aff19a;*/
  /*border: 3px solid  #84db69;*/ /*#aff19a;*/
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0px 0px 10px #bbb;
}

.cardTitleBar {
  background-color: #f7f8f5; /* #84db69; #aff19a; */
  color: #444; /*#444;*/
  height: 30px;
  font-size: 16pt;
  background-image: linear-gradient(#fff, #f7f8f5);
  background-image: -webkit-linear-gradient(top, #fff, #f7f8f5);
  /*background-image: linear-gradient(#aff19a, #84db69);
  background-image: -webkit-linear-gradient(top, #aff19a, #84db69);*/
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
}

.treeLogo {
  max-height: 90px;
  max-width: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.treeLogoContainer {
  height: 175px;
}

.cardLabel {
	color: #444;
  padding: 5px;
  font-size: 10pt;
  line-height: 12pt;
}

.leaf {
  height: 175px;
}

.leafImage {
  max-height: 170px;
  max-width: 155px;
}

#forestContainer {
  height: 100%;
  width: 100%;
  border: 1px solid #bbb;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  background-color: #f7f8f5; /*white;*/
}

#treeContainer {
  height: 100%;
  width: 75%;
  float: left;
  border: 1px solid #bbb;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  background-color: white;
}

#treeHeader {
  height:40px;
  background-color:black;
  border-bottom: 1px solid #bbb;
  background-image: linear-gradient(#ffffff, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  /*-webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;*/
  padding-left: 20px;
  font-size: 14pt;
}

#newElementHolder {
  text-align: right;
  padding-right: 10px;
}

#newElementButton {
  font-size: 9pt;
  height: 25px;
  z-index: 500;
}

.btn.pretty.success {
    border: none;
    box-shadow: 0 0 5px #bbb;
}

.btn.pretty.success:hover {
    border: none;
    box-shadow: 0 0 5px #bbb;
}

#newElementLink {
  padding: 0;
  color: white;
}

.btn.pretty.success {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aff19a), color-stop(100%, #84db69));
  background-image: -webkit-linear-gradient(#aff19a, #84db69);
  background-image: -moz-linear-gradient(#aff19a, #84db69);
  background-image: -o-linear-gradient(#aff19a, #84db69);
  background-image: -webkit-linear-gradient(top, #aff19a, #84db69);
}

.fontAwesomeRemove {
  display: inline-block !important;
}

#treeElements {
  height: 100%;
  width: 100%;
  overflow: auto;
  border-top: 50px solid transparent;
  margin-top: -50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.treeBG {
  background-color: white;
  /*background-color: rgb(219, 255, 225);*/
}

.treeModify {
    text-align: right;
    font-size: 23pt;
}

.treeModify > a {
    color: #bbb;
}

#options {
  background-color: white;/*#444444;*/
  width: 25%;
  float: right;
  height: 100%;
  border: 1px solid #bbb;
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  /*-webkit-border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  border-radius: 0px 15px 15px 0px;*/
}

#mobileOptions {
    background-color: white;/*#444444;*/
    width: 100%;
    float: right;
    height: 100%;
    border: 1px solid #bbb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*-webkit-border-radius: 0px 15px 15px 0px;
     -moz-border-radius: 0px 15px 15px 0px;
     border-radius: 0px 15px 15px 0px;*/
}

#actionHeader {
	height: 40px;
 	border-bottom: 1px solid #bbb;
  background-image: linear-gradient(#ffffff, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

#actionContent {
	color: #444;
  width: 100%;
  padding: 10px;
  font-size: 10pt;
  height: 100%;
  overflow: auto;
  border-top: 50px solid transparent;
  margin-top: -50px;
}

.actionBarButton {
	float: left;
	width:33.3%;
	height:100%;
  font-size: 20pt;
  color: #84db69;/*#bbb;*/
  margin: 0 auto;
}

i[class^="icon-"] {
  font-family: FontAwesome;
}

i[class^="icon-fa"] {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  font-family: FontAwesome;
}

i[class^="icon-ne"] {
  width: 10px;
  min-width: 10px;
  margin-left: 0;
}

i.icon-leaf:before {
  content: "\f06c";
}

.settingsIcon {
	position: absolute;
	left: 30px;
	bottom: 10px;
	margin-left:auto;
	margin-right: auto;
}

.taskHeader {
  text-align: center;
  width: 100%;
	color: #444;
  font-family:'Lato',GeosansLightRegular, Helvetica, Arial, sans-serif;
  font-size: 15pt;
}

.rightText {
	color: #444;
  font-family:'Lato',GeosansLightRegular, Helvetica, Arial, sans-serif;
	float: left;
  font-size: 20pt;
	margin-top: 30px;
  margin-left: 20px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.todoHolder {
  overflow: auto;
  height: 100%;
  width; 100%;.
}

#taskSelect {
  text-align: center;
}

#tasks {
  margin-top: 0px;
}

.addTodo {
  width: 80%;
}

.linkColor {
  color: #444;
}

.linkColor:hover {
  color: #444;
}

.btn.taskSelectButtons {
}

.btn.taskSelectButtons.active {
  background-color: #bbb;
  border: 1px solid #bbb;
}

.taskHeader > p {
  font-size: 15pt;
  margin-bottom: 0;
}

.taskListHeadText {
  float: left;
  width: 80%;
  text-align: left;
  padding-left: 10px;
}

taskListHeadLink {
  float: right;
  width: 20%;
  text-align: right;
}

.taskSelectButtonLinks {
  width: 70px;
  font-size: 8pt;
  font-family: 'Lato', GeosansLightRegular, Helvetica, Arial, sans-serif;
}

.taskToggle {
  color: #444;
}

.taskToggle:hover {
  color: #444;
}

.taskList {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float:left;
}

.taskList:not(:last-child) {
    border-bottom: 1px solid #bbb;
}

.taskGroupingHeader {
  float:left;
  width:80%;
  margin-bottom: 0;
}

.taskGroupingIcon {
  text-align:right;
  float:right;
  width:20%;
  margin-bottom: 0;
}

.taskGroupingIcon > .icon-chevron-sign-down.active:before {
    color:#bbb;
}

.taskGroupingIcon > .icon-chevron-sign-down.active:before {
  content: "\f138";
}

.smallTaskLabel {
  background-color: #84db69;
  font-family: 'Lato';
}

.taskGrouping:not(:last-child) {
  /*border-bottom: 1px solid #bbb;*/
}

#singleLeafHolder {
  text-align: center;
  height: 100%;
}

.singleLeafImage {
  margin-top: 10px;
  max-height: 90%;
  max-width: 90%;
}

.responsiveShow {
  display:none !important;
}

.responsiveShowTC {
    display:none !important;
}

.responsiveHide {
  display:inherit;
}

@media only screen and (max-width: 767px) {
  
  .pretty .info.btn, .pretty.navbar a.toggle,.pretty.navbar a.toggle.active, .pretty.navbar a.toggle:hover {
      box-shadow: none;
      border: none;
      background-image: none;
  }
  
  .pretty .success.btn {
      box-shadow: 0 0 5px #222;
  }
  
  #treeContainer {
    width: 100%;
    border-radius:0;
  }
  
  #treeElements {
    width: 100%;
  }
  
  #options {
    width: 100%;
    display: none;
  }
  
  .navbar a.toggle, .navbar a.toggle:hover, .navbar a.toggle.active {
    background: transparent;
  }
  
  #mainContent {
    padding: 0;
  }
  
  .logoutArrow {
      border-bottom-color: #bbb;
      top:-5px;
  }
  
  #treeHeader, #forestContainer {
    border-radius:0;
    font-size:10pt;
    padding: 0;
  }
  
  .responsiveShow {
      display:block !important;
  }
  
  .responsiveShowTC {
    display:table-cell !important;
  }
  
  .responsiveHide {
    display:none !important;
  }
  
  #crumbHolder {
    padding-left: 10px;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 60px;
  }
  
  #newElementHolder {
      width:60px;
  }
  
  #newElementButton button {
      padding:0;
  }
  
  #newElementButton {
      font-size: 13pt;
      height: 30px;
      position: absolute;
      width: 30px;
      top: 70px;
      right: 20px;
  }
  
  i[class^="icon-responsive"] {
      margin-right:0px;
  }
}

@media only screen and (max-width: 320px) {
    
    .forgotPassword {
        padding-left: 5px;
        font-size:8pt;
    }
    
    .signUpHere {
        padding-right: 5px;
        font-size:8pt;
    }
}