util/begin.sql
#You can comment out components like this
#tables/my_stupid_table.sql
tables/annotation.sql
tables/leaf_annotation.sql
tables/forest.sql
tables/tree.sql
tables/user.sql
tables/leaf.sql
tables/leaf_link.sql
tables/path.sql
tables/group.sql
tables/group_user.sql
tables/user_tree.sql
tables/user_forest.sql
tables/user_leaf.sql
tables/comment.sql
tables/leaf_version.sql
tables/uncategorized_annotation.sql
procedures/create_user.sql
procedures/update_user.sql
util/insertFakeData.sql
util/end.sql
