util/begin.sql
#You can comment out components like this
#tables/my_stupid_table.sql
tables/annotation.sql
tables/branch.sql
tables/leaf_annotation.sql
tables/forest.sql
tables/tree.sql
tables/user.sql
tables/leaf.sql
tables/task_statuses.sql
tables/task.sql
tables/branch_link.sql
tables/path.sql
tables/group.sql
tables/group_user.sql
#tables/user_branch.sql
tables/user_tree.sql
tables/user_forest.sql
#tables/user_leaf.sql
tables/comment.sql
tables/leaf_version.sql
tables/uncategorized_annotation.sql

procedures/create_comment.sql
procedures/delete_comment.sql
procedures/update_comment.sql
procedures/update_leaf.sql
procedures/update_tree.sql

procedures/add_tree_token.sql
procedures/add_user_to_tree.sql

procedures/create_branch.sql
procedures/create_forest.sql
procedures/create_task.sql
procedures/create_leaf.sql
procedures/create_annotation.sql
procedures/create_leaf_on_tree.sql

procedures/create_tree.sql
procedures/delete_tree.sql

procedures/get_tasks_by_tree.sql
procedures/get_annotation.sql
procedures/get_annotations_by_leaf.sql
procedures/get_annotations_by_forest.sql
procedures/get_annotations_by_tree.sql
procedures/get_leafs.sql
procedures/get_leaf.sql
procedures/get_forest_by_user.sql
procedures/get_trees_by_user_by_forest.sql
procedures/get_branches.sql
procedures/get_branches_and_leafs.sql
procedures/get_tree.sql
procedures/get_users_by_tree.sql

procedures/delete_branch.sql
procedures/delete_forest.sql
procedures/delete_annotation.sql
procedures/delete_task.sql

procedures/activate_user.sql
procedures/create_user.sql
procedures/delete_user.sql
procedures/get_user.sql
procedures/update_user.sql
procedures/validate_user.sql

procedures/update_forest.sql
procedures/delete_leaf.sql
procedures/update_task.sql


util/insert_required_data.sql
util/insert_fake_data.sql
util/end.sql
