/* -----------------------
 * General Settings
 * ----------------------- */
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body, #containWrapper {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    background-color: #444;
    font-weight: 300;
    height: 100%;
    width: 100%;
    color: #444;
}

/* Track */ 
::-webkit-scrollbar { 
    width: 10px;
} 

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    background: transparent;
}

/* Handle */
:hover::-webkit-scrollbar-thumb {
    background: #aaa; 
}

.popover-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

div[ng-switch], div[ng-switch-when], div[ng-controller] {
    height: 100%;
    width: 100%;
}

a {    
    color: #444;
    text-decoration: underline;
}

a:hover{
  color: #5cc080;
}

textarea {
    resize: vertical;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
    font-size: 16px;
}

.form-control:focus {
    border-color: rgba(92, 192, 128, 0.8);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button { 
    outline: none !important; 
}

.btn-annotree {
    color: #fff;
    font-weight: bold;
    background-color: #5cc080;
    border-color: #5cc080;
}

.btn-annotree a {
    text-decoration: none;
    color: #fff;
}

a.btn-annotree {
    text-decoration: none;
    color: #fff;
}

.btn-annotree:hover, .btn-annotree:focus  {
    background-color: #53ad73;
    color: #fff;
}

.btn-pressed {
    color: #fff;
    outline: 0px;
    background-color: #53ad73;
    border-color: #53ad73;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-pressed:hover, .btn-pressed:focus {
    color: #fff;
    cursor: auto;
}

.label-annotree {
    background-color: #53ad73;
}

.valign { 
    display: table;
    width: 100%;
}

.valign > div { 
    display: table-cell;
    vertical-align: middle;
}

#loadingScreen {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
}

#loadingSpinner {
    margin:0 auto;
    width: 150px; 
    height: 150px; 
    background: transparent;
}

.error-text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #b94a48;
}

.wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    background-color: #222;
}

.userIcon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: #bbb;
    border: 1px solid #bbb;
    cursor: pointer;
    padding: 4px;
    text-align: center;
    font-weight: 300;
}

.userIcon:hover {
    border: 1px solid #999;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.working {
    display: none;
}

.working.active {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.7);
    z-index: 9999;
    position: absolute;
    text-align: center;
}
/* -----------------------
 * Modal Settings
 * ----------------------- */
.modal-content {
    color: #444;
    text-align: center;
    border: none;
    box-shadow: none;
}

.modal-footer {
    text-align: center;
}

.tipText {
    font-size: 9pt;
}

.modal-backdrop {
    background: rgba(10,10,10,0.7);
}

.modal {
    background: rgba(92, 92, 92, 0.7);
}

#treeModifyUsers {
   max-height: 200px;
   overflow-y: auto;
   margin-bottom: 30px; 
}

#treeModifyUsers table {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12pt;
}

#treeModifyUsers table i {
    font-size: 14pt;
    cursor: pointer;
}

#treeModifyUsers table i:hover {
    color: #b94a48;
}

/* -----------------------
 * CCP Header Settings
 * ----------------------- */
.treeOptions {
    width: 80px;
    float: left;
    background-color: #222;
    height: 100%;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    box-shadow: -15px 0 15px -15px #000 inset;
}

.treeOptions > div {
    padding-bottom: 20px;
}

.treeOptions > div > a > i {
    text-decoration: none;
    color: #fff;
}

.treeOptions > div > a > i:hover {
    text-decoration: none;
    color: #5cc080;
}

.icon-xlarge {
    font-size: 20pt;
}

#userSidebar, .icon-sidebar {
    cursor: pointer;
}

#userSidebar {
    margin-left: 25px;
    margin-top: 3px;
}

.userSettingsBox {
    box-shadow: 1px 1px 10px #ddd;
    background-color: #fff;
    width: 250px;
    position: absolute;
    bottom: 43px;
    left: 90px;
    height: 120px;
    z-index: 999;
    border: 1px solid #bbb;
    display: none;
}

.userSettingsBox img {
    float: left;height: 60px;
    margin-left: 10px;
    margin-top: 3px;
}

.userSettingsBox #footer {
    position: absolute; 
    bottom: 0; 
    height: 40px; 
    width: 248px; 
    background-color: #eee;
    border-top: 1px solid #bbb;
}

.userSettingsBox.active {
    display: block;
}

#logoutButton {
    float: right;
    margin: 5px 10px 0 0;
}

#feedback {
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 10000;
}

#helpVideo {
    width: 100%;
    max-width: 800px;
    height: 500px;
}
/* -----------------------
 * Authentication Settings
 * ----------------------- */
.icon-working {
    color: #ddd;
    font-size: 50pt;
    top: 50%;
    position: relative;
    margin-top: -25pt !important;
}

#authenticateScreen {
    max-width: 400px;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    color: #fff;
}

#authenticateScreen input {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #eee;
    height: 55px;
}

#authenticateScreen .form-group {
    margin-bottom: 0;
}

#authenticateScreen .tipText {
    text-align: center;
    color: #f5f5f5;
    margin: 10px 0;
}

#authenticateHeader {
    text-align: center;
    padding: 10px;
}

.authenticateContent {
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
    min-height: 200px;
}

.authenticateFooter {
    padding: 0px;
    text-align: center;
    margin-top: 10px;
}

.authenticateMessage {
    font-size: 12pt;
    text-align: center;
}

.authenticateLinkParagraph {
    padding: 10px 0;
}

.authenticateLinkParagraph a {
    text-decoration: underline;
    color: #fff;
}

/* -----------------------
 * Forest Settings
 * ----------------------- */
.row.forest {
    margin: 30px 0;
    text-align: left;
    color: #888;
    height: 30px;
    border-bottom: 1px solid #ccc    
}

.row.forest.new {
    border: none;
}

.forestName {
    font-size: 15pt;
    line-height: 22pt;
    font-family: Helvetica;
    font-weight: bold;
    cursor: pointer;    
    margin-top: 30px;
}

.forestName.new {
    padding: 12px;
    border: 2px dashed #bbb;
}

.forestName:hover {
    color: #aaa;
    cursor: pointer;
}

.forestName.new:hover {
    background-color: #fff;
    color: #888;
}

#forestContainer {
    height: 100%;
    width: calc(100% - 80px);
    padding: 20px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

#forestOwnerInfo {
    text-align: left;
    line-height: 38px;
    vertical-align: middle;
}

/* -----------------------
 * Card Settings
 * ----------------------- */
.card {
    margin: 0 auto;
    height: 175px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 5px 5px 0 0;
}

.card.new {
    border: 2px dashed #bbb;
    box-shadow: none;
}

.card.new:hover {
    background-color: #fff;
}

.card a {
    text-decoration: none;
}

.card.leafCard {
    height: 125px;
    width: 30%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
    margin-right: 20px;
    float: left;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.card-leaf-placeholder {
    background-color: #ddd;
    height: 125px;
    width: 400px;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
    margin-bottom: 30px;
}

.card.subBranchCard {
    cursor: pointer;
    min-height: 50px;
    margin: 4px 0 10px 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.card.leafCard.new {
    height: 125px;
    border: 2px dashed #bbb;
}

.cardImg.leafCard.cardImgNew {
    line-height: 60pt;
}

.leafCardLink {
    text-decoration: none;
}

.cardName {
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 3px;
    min-height: 25px;
    background-color: #fff;
    color: #444;
    text-decoration: none;
}

.cardName.leafCardName {
    background-color: rgba(146,223,116,0.9);
    background-color: #fff;
    font-family: Helvetica;
    color: #222;
    font-size: 10pt;
    width: 100%;
    padding: 5px;
}

.cardInformation {
    padding: 5px;
    text-align: right;
    background-color: #fff;
}

.cardInformation div {
    float: right;
}

div[ng-switch].assignedUser {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 0 5px 3px;
    display: inline-block;
}

.assignedUser > img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.cardNameNew {
    background-color: transparent;
    color: #bbb;
}

.cardImg {
    max-height: 150px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.cardImg:hover {
    opacity: .6;
    cursor: pointer;    
}

.cardImgNew {
    text-align: center;
    font-size: 90pt;
    line-height: 90pt;
    font-weight: bold;
    color: #bbb;
}

.cardLarge {
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px 5px;

    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

.cardNameLarge {
    text-align: center;
    background-color: #5cc080;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 3px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    font-size: 18pt;
}

.cardImgLarge {
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    text-align: center;
}

.cardNameLarge i {
    color: #fff;
    text-decoration: none;
    font-size: 22pt;
}

.cardNameLarge i:hover {
    color: #888;
}

/* -----------------------
 * Tree Settings
 * ----------------------- */
.treePageHeader {
    height: 45px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    margin-left: 20%;
    box-shadow: 0px 5px 15px #000;
}

.treePageHeaderText {
    font-size: 14pt;
    padding: 5px;
    padding-left: 20px;
    color: #444;
    height: 45px;
}

#treeIndex {
    background-color: #444;
    border-radius: 5px 0 0 5px;
}

.icon-treeSettings {
    cursor: pointer;
    vertical-align: middle;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    height: 35px;
    display: table-cell;
}

.icon-treeSettings:hover {
    color: #666;
}

#branchHolder {
    height: calc(100% - 90px);
    width: 20%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -15px 0 15px -15px #000 inset;
}

.branch {
    color: #5cc080;
}

#branchHolder div[ng-switch] {
    display: table;
}

div[ng-switch-when].branch, div[ng-switch-when].activeBranch {
    font-weight: 400;
    font-size: 11pt;
    width: 100%;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 15px;
}

.branch > i {
    margin-right: 5px;
}

.branch > .edit {
    float: left;
    width: 93%;
}

.branch.editMode:hover {
    color: #5cc080;
    cursor: auto;
}

.branch > .edit > i {
    color: #ff9;
    margin-right: 5px;
    cursor: pointer;
}

.branch > .edit > i:hover {
    color: #ff0;
}

.branch > .delete {
    float: right;
    width: 5%;
}

.branch > .delete > i {
    color: #900;
}

.branch > .delete > i:hover {
    cursor: pointer;
    color: #600;
}

.branchHover {
    background-color: #ccc;
    color: #444;
}

.branch:hover {
    color: #fff;
    cursor: pointer;
}

#branchButtons {
    padding: 10px 0 25px 25px;
}

#addBranch:hover {
    color: #888;
    cursor: pointer;
}

.activeBranch {
    color: #f1f1f1;
    cursor: auto;
    font-weight: 400;
    background-color: #5cc080;
    box-shadow: -15px 0 15px -15px #000 inset;
}

.activeBranch > i {
    margin-right: 5px;
}

#branchHr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#modifyTreeModal .modal-dialog {
    width: 60%;
    max-width: 800px;
}

#treeInvite {
    float: left; width: 20%;
    clear: left;
    height: 45px;
    box-shadow: -15px 0 15px -15px #000 inset;
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #222; 
}

#branchEdit {
    position: absolute;
    height: 100%;
    width: calc(80% - 60px);
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 1000;
    right: 0;
    top: 0;
}
/* -----------------------
 * Sub-branch Settings
 * ----------------------- */
#branchColumnHolder {
    height: calc(100% - 45px);
    width: 80%;
    margin-left: 20%;
    position: relative;
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

.branchColumnTitle {
    text-align: center;
    padding: 5px;
}

.branchCountLabel {
    display: inline;
    background-color: #5cc080;
    color: #fff;
    font-weight: 400;
    padding: .25em .6em;
    font-size: 75%;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.branchTitleHr {
    width: 90%;
    margin: 0 0 0 5%;
}

.branchColumnLeaves {
    overflow-y: auto;
    width: calc(100% - 5px);
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    outline: none;
    min-height: 50px;
}

.branchColDrop {
    width: 100%;
    height: 15px;
    border-radius: 5px;
}

.branchColDropHover {
    background-color: #ccc;
}

.ui-autocomplete {
    z-index: 99999;
}

.card-col-placeholder {
    height: 90px;
    background-color: #ddd;
    margin: 10px;
    border-radius: 10px;
}
/* -----------------------
 * Leaves Settings
 * ----------------------- */
#leaves {
    height: calc(100% - 45px);
    width: 80%;
    margin-left: 20%;
    background-color: #f1f1f1;
    padding: 20px 0 20px 20px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 5px 5px;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

#leavesSortable {
    list-style: none;
}
/* -----------------------
 * Leaf Settings
 * ----------------------- */
#leafModal .modal-dialog {
    width: 80%;
}

#leafModal .modal-content {
    width: 100%;
}

#leaf {
    height: 100%;
    width: 75%;
    float: left;
    margin-left: 25%;
    border-top: 40px solid transparent;
    padding: 20px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.leafImage {
    max-height: 450px;
    padding: 20px;
    max-width: 95%;
    margin: 0 auto 10px auto;
    cursor: -webkit-zoom-in, -moz-zoom-in, pointer;
}

.leafComments {
    padding: 10px;
}

#commentsWrapper {
    overflow-y: auto;
}

.leafComment {
    margin: 5px 0;
}

.userCommentHolder {
    margin-left: 30px;
    padding-left: 5px;
    text-align: left;
}

.userCommentText {
    background-color: #f1f1f1;
    padding: 5px;
}

.userImageHolder {
    float: left;
}

.userCommentName {
    font-size: 9pt;
    color: #aaa;
    margin-bottom: 0;
}

.userComment {
    word-wrap: break-word;
}

.smallHR {
    margin-top: 5px;
    margin-bottom: 10px;
}

#commentBtn {
    margin-top: 7px;
    float: right;
}

#annotationCarousel {
    max-height:540px;
}

.carousel-control.right, .carousel-control.left {
    background: transparent;
    color: #000;
}

.carousel-control .glyphicon, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    font-size: 80px;
    color: #000;
}

.carousel-indicators {
    width: 100%;
    left: 0;
    margin-left: 0;
}

.carousel-indicators li {
    border-color: #000;
}

.carousel-indicators .active {
    background-color: #000;
}

#annotationCarousel a {
    text-decoration: none;
}

#addAnnotation {
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

#annotationModal {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    text-align: center;
}

/* -----------------------
 * Help Settings
 * ----------------------- */
#helpModal .modal-dialog {
    width: 80%;
}

#helpModal .modal-content {
    width: 100%;
}

#helpModal .modal-body {
    text-align: left;
    font-size: 14pt;
}

#helpModal img {
    max-width: 100%;
}

/* -----------------------
 * Documents Settings
 * ----------------------- */
.docsPageHeader {
    height: 45px;
    vertical-align: middle;
    display: table-cell;
    background-color: #444;
    font-size: 14pt;
    padding: 5px;
    padding-left: 20px;
    color: #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 400;
}

#docsHolder {
    height: 100%;
    width: 20%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #444;
    box-shadow: -15px 0 15px -15px #000 inset;
}

#docsHolder > a {
    text-decoration: none;
}

.docs {
    box-shadow: -15px 0 15px -15px #000 inset;
    background-color: #444;
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    color: #5cc080;
    font-weight: 400;
    font-size: 11pt;
}

.docs:hover {
    color: #fff;
    cursor: pointer;
}

.activeDocs {
    color: #fff;
    cursor: auto;
    font-weight: 400;
    background-color: #5cc080;
}

.activeDocs:hover {
    font-weight: 400;
    cursor: auto;
}

.docsSubPageHeader {
    height: 45px;
    color: #444;
    font-size: 14pt;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    vertical-align: middle;
}

.docsSubPageContent {
    padding: 20px;
}

.docsSubPageHeader > div {
    display: table-cell;
    vertical-align: middle;
    height: 45px;
}

#resources {
    background-color: #f1f1f1;
    position: relative;
    height: 100%;
    width: 80%;
    margin-left: 20%;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

.docDownload {
    height: 50px;
    margin: 10px;
    background-color: #5cc080;
    text-align: center;
    font-size: 20pt;
    color: white;
    padding-top: 5px;
    border-radius: 5px;
}

.docDownload:hover {
    background-color: #53ad73;
    text-decoration: none;
}

.docList {
    list-style:none;
    padding-left: 10px;
    margin-top: 20px;
}

.docList > li {
    margin-bottom: 10px;
}

.docList > li > span.label, .docList > li > p > span.label {
    margin-right: 10px;
    font-weight: bold;
}

.code {
    color: #a5e492;
    background-color: #444;
    font-weight: bold;
    padding: 4px 8px;
    word-wrap: break-word;
}
/* -----------------------
 * Mobile Dashboard Settings
 * ----------------------- */
#mobileDashboard {
    height: 100%;
    width: 240px;
    background-color: white;
    position: fixed;
    word-wrap: break-word;
}

.mobile-dash-wrap {
    height: -webkit-calc(100% - 27px);
    height: calc(100% - 27px);
    height: -moz-calc(100% - 27px);
    height: -o-calc(100% - 27px);
    width: 100%;
    padding: 10px;
    overflow-y: auto;
}

.mobile-dash-wrap li {
    text-align: center;
}
/* -----------------------
 * Responsive Media Settings
 * ----------------------- */
.responsiveShow {
    display: none;
}

.responsiveHide {
    display: block;
}

@media (max-width: 1024px) {
    #leafModal .modal-dialog {
        width: 100%;
    }

    #modifyTreeModal .modal-dialog {
        width: 80%;
    }
}

@media (max-width: 767px) {
    #modifyTreeModal .modal-dialog {
        width: 100%;
    }
    #helpModal .modal-dialog {
        width: 100%;
    }

    #displayAnnotation .modal-dialog {
        margin: 0 0;
        width: 100%;
    }
    
    .responsiveShow {
        display: block;
    }

    .responsiveHide {
        display: none;
    }

    .navbar-nav>li>a, .navbar-nav>.active>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: #5cc080;
    }
    
    .logoHeader {
        display: none;
    }
    
    .appHeader {
        display: block;
    }
    
    .nav>li {
        margin-bottom: 5px;
    }

    #leaves, #leaf, #docs, #branchColumnHolder {
        margin-left: 0;
        width: 100%;
    }

    #dashboardWrap {
        display: none;
    }

    .forest.row {
        margin: 30px 20px;
    }

    .treePageHeader {
        margin-left: 0;
    }
}

@media (max-width: 479px) {
    .card-col.col-12 {
        width: 100%;
    }
    
    .card {
        height: 125px;
        margin-bottom: 50px;
    }

    .cardImg {
        max-height: 100px;
    }

    .cardImg.cardImgLeaf {
        max-height: 125px;
    }

    .cardImgNew {
        font-size: 70pt;
        line-height: 70pt;
    }
}
