/* -----------------------
 * General Settings
 * ----------------------- */
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body, #containWrapper {
    font-family:'Lato',GeosansLightRegular, Helvetica, Arial, sans-serif !important;
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    color: #444;
}

div[ng-switch], div[ng-switch-when], div[ng-controller] {
    height: 100%;
    width: 100%;
}

a {    
    color: #444;
    text-decoration: underline;
}

a:hover{
  color: #92DF74;
}

textarea {
    resize: vertical;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
    font-size: 16px;
}

.form-control:focus {
    border-color: rgba(146,223,116,0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(146,223,116,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(146,223,116,0.6);
}

.btn-annotree {
    color: #fff;
    font-weight: bold;
    background-color: #92DF74;
    border-color: #92DF74;
}

.btn-annotree a {
    text-decoration: none;
    color: #fff;
}

a.btn-annotree {
    text-decoration: none;
    color: #fff;
}

.btn-annotree:hover {
    background-color: #83C968;
}

.label-annotree {
    background-color: #83C968;
}

.valign { 
    display: table;
    width: 100%;
}

.valign > div { 
    display: table-cell;
    vertical-align: middle;
}

#loadingScreen {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
}

#loadingSpinner {
    margin:0 auto;
    width: 150px; 
    height: 150px; 
    background: transparent;
}

.error-text {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #b94a48;
}

.wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

/* -----------------------
 * Modal Settings
 * ----------------------- */
.modal-content {
    color: #444;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 10px #bbb;
}

.modal-footer {
    text-align: center;
}

.tipText {
    font-size: 9pt;
}

.modal {
    background: rgba(250,250,250,0.7);
}

#treeModifyUsers {
   max-height:200px;overflow-y:auto;margin-bottom:30px; 
}

#treeModifyUsers table {
    width: 100%;margin-bottom:10px;font-size:12pt;
}

#treeModifyUsers table i {
    font-size: 14pt;
    cursor: pointer;
}

#treeModifyUsers table i:hover {
    color: #b94a48;
}

/* -----------------------
 * CCP Header Settings
 * ----------------------- */
.navbar {
    background-color: #444;
    min-height: 40px;
    color: #fff;
}

.navbar-nav>li>a, .navbar-nav>.active>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.navbar-nav>li>a:hover, .navbar-nav>.active>a:focus {
    color: #444;
    background-color: #92DF74;
}

#userIcon {
    border: 2px solid #fff;
    height: 30px;
    width: 30px;
    margin-top: 3px;
}

#userIcon:hover {
    border: 2px solid #92DF74;
}

#userLinkDiv {
    position: absolute;
    right: 20px;
    top: 2px;
    width: 140px;
}

.userSettingsBox {
    box-shadow: 1px 1px 10px #bbb;
    background-color: #fff;
    width: 250px;
    float: right;
    position: absolute;
    top: 43px;
    right: 15px;
    height: 120px;
    z-index: 999;
    border: 1px solid #bbb;
    display: none;
}

.userSettingsBox img {
    float: left;height: 60px;
    margin-left: 10px;
    margin-top: 3px;
}

.userSettingsBox #footer {
    position: absolute; 
    bottom: 0; 
    height: 40px; 
    width: 248px; 
    background-color: #eee;
    border-top: 1px solid #bbb;
}

.userSettings.active {
    display: block;
}

.userSettingsName {
    margin-left: 10px;
    margin-top: 5px;
    height: 23px;
    color: #888;
    font-size: 13pt;
}

.logoutButton {
    float: right;
    margin-right: 10px;
    margin-top: 0px;
}

.logoutArrow {
    margin: 36px 0 0;
    right: 6px;
    border-style: dashed dashed solid;
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 0 10px 10px;
    cursor: default;
    display: -moz-inline-box;
    display: inline-block;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1000;
    display: none;
}

.appHeader {
    height:30px;
    padding-top:5px;
    margin-right:10px;
    position: fixed;
    color: white;
    font-size: 15pt;
    display: none;
    width: 100%;
    text-align: center;
    margin-left:-15px;
}

.logoHeader {
    height:30px;
    padding-top:5px;
    margin-right:10px;
    position: fixed;
    left: 50%;
    margin-left: -50px;
}

#annoTreeLogo {
    position: relative;
    left: -50%;
    height: 30px;
    margin-top: 4px;
}

/* -----------------------
 * Authentication Settings
 * ----------------------- */
.icon-working {
    color: #ddd;
    font-size: 50pt;
    top: 50%;
    position: relative;
    margin-top: -25pt !important;
}

.working {
    display: none;
}

.working.active {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250, 0.7);
    z-index: 9999;
    position: absolute;
    text-align: center;
}

#authenticateScreen {
    max-width: 400px;
    min-height: 200px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #bbb;
    margin-top: 10%;
    background-color: #fff;
    position: relative;
    color: #444;
}

#authenticateHeader {
    text-align: center;
    padding: 10px;
}

.authenticateContent {
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
    min-height: 200px;
}

.authenticateFooter {
    padding: 0px;
    text-align: center;
}

.authenticateMessage {
    color: #444;
    font-size: 12pt;
    text-align: center;
}

.authenticateLinkParagraph {
    padding: 10px 0;
}

.authenticateLinkParagraph a {
    text-decoration: underline;
}

/* -----------------------
 * Forest Settings
 * ----------------------- */
.row.forest {
    margin: 30px 0;
    text-align: left;
    color: #888;
    height: 30px;
    border-bottom: 1px solid #ccc    
}

.row.forest.new {
    border: none;
}

.forestName {
    font-size: 15pt;
    line-height: 22pt;
    font-family: Helvetica;
    font-weight: bold;
    cursor: pointer;    
    margin-top: 30px;
}

.forestName.new {
    padding: 12px;
    border: 2px dashed #bbb;
}

.forestName:hover {
    color: #aaa;
    cursor: pointer;
}

.forestName.new:hover {
    background-color: #fff;
    color: #888;
}

#forestContainer {
    height: 100%;
    width: 100%;
    padding-top: 60px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

/* -----------------------
 * Dashboard Settings
 * ----------------------- */
#dashboardWrap {
    height: 100%;
    width: 25%;
    float: left;
    border-top: 40px solid transparent;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    opacity: 1;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

#dashboard {
    height: 100%;
    padding: 10px;
    word-wrap: break-word;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #bbb;
    color: #444;
}

.dashLinks {
    background-color: #f1f1f1;
    font-size: 18pt;
    padding: 3px 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.dashLinks:hover {
    color: #92DF74;
}

.appLogo {
    border-radius: 5px;
    width: 100%;
}

.appName {
    margin-left: 10px;
    font-size: 15pt;
    font-weight: bold;
}

/* -----------------------
 * Card Settings
 * ----------------------- */
.card {
    margin: 0 auto;
    height: 175px;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #bbb;
    border-radius: 5px 5px 0 0;
}

.card.new {
    border: 2px dashed #bbb;
    box-shadow: none;
}

.card.new:hover {
    background-color: #fff;
}

.card a {
    text-decoration: none;
}

.cardName {
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 3px;
    min-height: 25px;
    background-color: #92DF74;
    color: #fff;
}

.cardNameNew {
    background-color: transparent;
    color: #bbb;
}

.cardImg {
    max-height: 150px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;

    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.cardImg:hover {
    opacity: .6;
    cursor: pointer;    
}

.cardImgNew {
    text-align: center;
    font-size: 90pt;
    line-height: 90pt;
    font-weight: bold;
    color: #bbb;
}

.cardLarge {
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px #bbb;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    opacity: 1;
    border-radius: 5px 5px;

    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

.cardNameLarge {
    text-align: center;
    background-color: #92DF74;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 3px;
    height: 40px;
    border-bottom: 1px solid #ddd;
    font-size: 18pt;
}

.cardImgLarge {
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    text-align: center;
}

.cardNameLarge i {
    color: #fff;
    text-decoration: none;
    font-size: 22pt;
}

.cardNameLarge i:hover {
    color: #888;
}
/* -----------------------
 * Leaf Settings
 * ----------------------- */
#leaves {
    height: 100%;
    width: 75%;
    float: left;
    margin-left: 25%;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

#leaf {
    height: 100%;
    width: 75%;
    float: left;
    margin-left: 25%;
    border-top: 40px solid transparent;
    padding:20px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.leafImage {
    max-height: 450px;
    padding: 20px;
    max-width: 95%;
    margin-bottom: 10px;
}

.leafComments {
    padding: 10px;
}

.leafComment {
    margin: 5px 0;
}

.userCommentHolder {
    margin-left: 30px;
    padding-left: 5px;
}

.userCommentText {
    background-color: #f1f1f1;
    padding: 5px;
}

.userImageHolder {
    float: left;
}

.userCommentImage {
    width: 30px;
    height: 30px;
    border: 2px solid white;
}

.userCommentName {
    font-size: 9pt;
    color: #aaa;
    margin-bottom: 0;
}

.smallHR {
    margin-top: 5px;
    margin-bottom: 10px;
}

#commentBtn {
    margin-top: 7px;
    float: right;
}

#annotationCarousel {
    max-height:540px;
}

.carousel-control.right, .carousel-control.left {
    background: transparent;
    color: #000;
}

.carousel-control .glyphicon, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    font-size: 80px;
    color: #000;
}

.carousel-indicators {
    width: 100%;
    left: 0;
    margin-left: 0;
}

.carousel-indicators li {
    border-color: #000;
}

.carousel-indicators .active {
    background-color: #000;
}

#annotationCarousel a {
    text-decoration: none;
}

.addAnnotation {
    text-align: center;
    width: 100%;
}

#displayAnnotation .modal-dialog {
    margin: 0 -40%;
    width: 80%;
}

#displayAnnotation .modal-content {
    width: 100%;
}

#displayAnnotation .modal-body img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
/* -----------------------
 * Help Settings
 * ----------------------- */
#helpModal .modal-dialog {
    margin: 0 -40%;
    width: 80%;
}

#helpModal .modal-content {
    width: 100%;
}

#helpModal .modal-body {
    text-align: left;
    font-size: 14pt;
}

#helpModal img {
    max-width: 100%;
}

/* -----------------------
 * Documents Settings
 * ----------------------- */
#docs {
    height: 100%;
    width: 75%;
    float: left;
    margin-left: 25%;
    border-top: 40px solid transparent;
    padding:20px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#docs #resources {
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px #bbb;
    border-radius: 5px;
    background-color: #fff;
    opacity: 1;

    transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -webkit-transition: opacity .25s linear;
}

#docsBack {
    float:left;
    padding-left: 7px;
    padding-top: 2px;
    text-decoration: none;
}

#docs .content {
    padding: 20px;
    font-size: 14pt;
}

.docDownload {
    height: 50px;
    margin: 10px;
    background-color: #92DF74;
    text-align: center;
    font-size: 20pt;
    color: white;
    padding-top: 5px;
    border-radius: 5px;
}

.docDownload:hover {
    background-color: #83C968;
    text-decoration: none;
}

.docList {
    list-style:none;
    padding-left: 10px;
    margin-top: 20px;
}

.docList > li {
    margin-bottom: 10px;
}

.docList > li > span.label, .docList > li > p > span.label {
    margin-right: 10px;
    font-weight: bold;
}

.code {
    color: #92DF74;
    background-color: #444;
    font-weight: bold;
    padding: 4px 8px;
}
/* -----------------------
 * Mobile Dashboard Settings
 * ----------------------- */
#mobileDashboard {
    height: 100%;
    width: 240px;
    background-color: white;
    position: fixed;
    word-wrap: break-word;
}

.mobile-dash-wrap {
    height: -webkit-calc(100% - 27px);
    height: calc(100% - 27px);
    height: -moz-calc(100% - 27px);
    height: -o-calc(100% - 27px);
    width: 100%;
    padding: 10px;
    overflow-y: auto;
}

.mobile-dash-wrap li {
    text-align: center;
}
/* -----------------------
 * Responsive Media Settings
 * ----------------------- */
.responsiveShow {
    display: none;
}

.responsiveHide {
    display: block;
}

@media (max-width: 767px) {
    .card-col.col-sm-6 { 
        width: 50%;
    }
    
    #helpModal .modal-dialog {
        margin: 0 0;
        width: 100%;
    }
    
    #displayAnnotation .modal-dialog {
        margin: 0 0;
        width: 100%;
    }
    
    .responsiveShow {
        display: block;
    }

    .responsiveHide {
        display: none;
    }

    .navbar-nav>li>a, .navbar-nav>.active>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background-color: #92DF74;
    }
    
    .logoHeader {
        display: none;
    }
    
    .appHeader {
        display: block;
    }
    
    .nav>li {
        margin-bottom: 5px;
    }

    #leaves, #leaf, #docs {
        margin-left: 0;
        width: 100%;
    }

    #dashboardWrap {
        display: none;
    }

    .forest.row {
        margin: 30px 20px;
    }
}

@media (max-width: 479px) {
    .card-col.col-12 {
        width: 100%;
    }
    
    .card {
        height: 125px;
        margin-bottom: 50px;
    }

    .cardImg {
        max-height: 100px;
    }

    .cardImgNew {
        font-size: 70pt;
        line-height: 70pt;
    }
}
