<div ng-switch="subview" ng-controller="authenticate.LoginController" class="authenticateContent">
    <form name="loginForm" ng-submit="validateLogin()">
        <fieldset>
            <div class="error-text">{{errorText}}&nbsp;</div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" ng-model="loginEmail" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" ng-model="loginPassword" />
            </div>
            <div class="authenticateFooter">
                <button type="submit" class="btn btn-annotree">
                    <strong>Login</strong>
                </button>
                <p class="authenticateLinkParagraph">
                    <a href="#/authenticate/requestPassword" class="authenticateLink">Forgot Password?</a>
                </p>
            </div>
        </fieldset>
    </form>
</div>
