<div ng-switch="subview" ng-controller="authenticate.RequestPasswordController" class="authenticateContent">
    <p class="authenticateMessage">{{textMessage}}</p>
    <form id="requestPasswordResetForm">
        <fieldset>
            <div class="error-text" ng-show="errorMessage">{{errorText}}</div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" ng-model="email" ng-show="emailInput" />
            </div>
            <div class="authenticateFooter">
                <div ng-show="returnToLogin">
                    <div class="btn btn-annotree"><a href="#/authenticate/login">Login</a></div>
                </div>
                <div ng-show="signup">
                    <a href="#/authenticate/signUp" style="margin-bottom:5px" class="btn btn-annotree">Sign Up</a>
                </div>
                <div ng-show="resetButtons">
                    <button type="submit" class="btn btn-annotree" ng-click="requestPassword()">
                        <strong>Request Password Reset</strong>
                    </button>
                    <p class="authenticateLinkParagraph">
                        <a href="#/authenticate/login" class="authenticateLink">Return to Login Screen</a>
                    </p>
                </div>
            </div>
        </fieldset>
    </form>
</div>
