<div ng-switch="subview" ng-controller="authenticate.RequestpasswordController">
    <form id="requestPasswordResetForm" style="">
        <div class="modal-body" style="min-height:150px;">
            <div class="ten columns centered center-text">
                <p id="textMsg" style="padding-top: 15px;padding-bottom: 10px; text-align: center; font-size:11pt">Please enter your email and we will send you a reset link.</p>
                <ul>
                    <li class="danger alert" id="invalidEmail" ng-show="invalidEmail">Invalid email address</li>
                    <li class="field" style="text-align:center;"><input id="requestEmail" class="email input" type="email" placeholder="Email" style="max-width:380px;" ng-model="email" ng-show="emailInput"></li>
                </ul>
            </div>
        </div>
        <div class="modal-footer authenticateFooter">
            <div style="text-align: center;">
                <div ng-show="returnToLogin">
                    <div class="medium btn success"><a href="#/authenticate/login">Login</a></div>
                </div>
                <div ng-show="resetButtons">
                    <div class="medium btn success"><a ng-click="requestPassword()">Request Password Reset</a></div>
                    <p style="margin-bottom: 0px; padding-top: 5px; text-align: center; font-size:10pt;"><a href="#/authenticate/login" style="color:#444;text-decoration:underline;">Return to Login Screen</a></p>
                </div>
            </div>
        </div>
    </form>
</div>
