<div ng-switch="subview" ng-controller="authenticate.ResetpasswordController">
    <form id="requestPasswordResetForm" style="padding-top: 30px;">
        <div class="row" style="min-height:150px;">
            <div class="ten columns centered center-text">
                <ul>
                    <li class="field" style="text-align:center" ng-show="successMsg">Your password has been successfully reset. Please login to continue.</li>
                    <li class="danger alert" id="errorMsg" ng-show="errorMsg">Invalid email address</li>
                    <li class="field" style="text-align:center;"><input id="newPassword" class="email input" type="email" placeholder="Email" style="max-width:380px;" ng-model="email" ng-show="emailInput"></li>
                    <li class="field" style="text-align:center;"><input id="newPassword" class="email input" type="password" placeholder="New password" style="max-width:380px;" ng-model="password" ng-show="passwordInput"></li>
                </ul>
            </div>
        </div>
        <div class="row authenticateFooter">
            <div style="text-align: center; padding-top:15px;">
                <div ng-show="returnToLogin">
                    <div class="medium btn success"><a href="#/authenticate/login">Login</a></div>
                </div>
                <div ng-show="resetPasswordButton">
                    <button type="submit" class="medium btn success"><a ng-click="resetPassword()">Reset Password</a></button>
                </div>
                <div ng-show="requestPassword" style="margin-top:7px">
                    <div class="medium btn success"><a href="#/authenticate/requestPassword">Request to Change Password</a></div>
                </div>
            </div>
        </div>
    </form>
</div>
