<div ng-switch="subview" ng-controller="authenticate.ResetPasswordController" class="authenticateContent">
    <p class="authenticateMessage">{{textMessage}}</p>
    <form id="requestPasswordResetForm">
        <fieldset>
            <div class="error-text" id="errorMsg" ng-show="errorMessage">{{errorText}}</div>
            <div class="form-group" ng-show="passwordInput">
                <input id="newPassword" class="form-control" type="password" placeholder="New password" ng-model="password" required />
            </div>
            <div class="form-group" ng-show="passwordInput">
                <input id="confirmNewPassword" class="form-control" type="password" placeholder="Confirm new password" ng-model="confirmPassword" required />
                <span style="font-size:9pt">Tip: Password should contain at least six characters and one number</span>
            </div>
            <div class="authenticateFooter">
                <div ng-show="returnToLogin">
                    <a href="#/authenticate/login" class="btn btn-annotree">
                        Login
                    </a>
                </div>
                <div ng-show="resetPasswordButton">
                    <button type="submit" class="btn btn-annotree" ng-click="resetPassword()">
                        <strong>Reset Password</strong>
                    </button>
                </div>
                <div ng-show="requestPassword" style="margin-top:7px">
                    <a href="#/authenticate/requestPassword" class="btn btn-annotree">
                        Request to Change Password
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
