<div ng-switch="subview" ng-controller="authenticate.ResetpasswordController" class="authenticateContent">
    <p class="authenticateMessage" id="textMsg">Enter your email and new password</p>
    <form id="requestPasswordResetForm">
        <fieldset>
            <div class="error-text" id="errorMsg" ng-show="errorMsg">Invalid email address</div>
            <div class="form-group" ng-show="emailInput">
                <input id="newPassword" class="form-control" type="email" placeholder="Email" ng-model="email" required />
            </div>
            <div class="form-group" ng-show="passwordInput">
                <input id="newPassword" class="form-control" type="password" placeholder="New password" ng-model="password" required />
                <span style="font-size:9pt">Tip: Password should contain at least six characters and one number</span>
            </div>
            <div class="authenticateFooter">
                <div ng-show="returnToLogin">
                    <a href="#/authenticate/login">
                        <div class="btn btn-annotree">
                            Login
                        </div>
                    </a>
                </div>
                <div ng-show="resetPasswordButton">
                    <button type="submit" class="btn btn-annotree" ng-click="resetPassword()">
                        <strong>Reset Password</strong>
                    </button>
                </div>
                <div ng-show="requestPassword" style="margin-top:7px">
                    <a href="#/authenticate/requestPassword">
                        <div class="btn btn-annotree">
                            Request to Change Password
                        </div>
                    </a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
