<div ng-switch="subview" ng-controller="authenticate.SignupController" class="authenticateContent">
    <form name="signUpForm" ng-submit="validateSignUp()">
        <fieldset>
            <div class="error-text">{{errorText}}&nbsp;</div>
            <div class="working" style="width:360px;height:165px" id="authenticateWorking">
                <i class="icon-working icon-cog icon-spin"></i>
            </div> 
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" ng-model="signUpName" />
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="Email" ng-model="signUpEmail" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" ng-model="signUpPassword" />
                <div class="tipText" style="text-align:center">
                    Tip: Password should contain at least six characters and one number
                </div>
            </div>
            <div class="authenticateFooter">
                <button type="submit" class="btn btn-annotree">
                    <strong>Sign Up</strong>&nbsp;&nbsp;<i class="icon-circle-arrow-right"></i>
                </button>
                <p class="authenticateLinkParagraph">
                    Already have an account?&nbsp;
                    <a href="#authenticate/login">Login Here</a>
                </p>
            </div>
        </fieldset>
    </form>
</div>
