<div ng-switch="subview" ng-controller="authenticate.SignupController" class="authenticateContent">
    <p class="authenticateMessage">Sign up for our beta today!</p>
    <form name="signUpForm" ng-submit="validateSignUp()">
        <fieldset>
            <div class="error-text" id="validateError" ng-show="invalidSignUp"></div>
            <div class="form-group">
                <input id="signUpName" class="form-control" type="text" placeholder="Name" ng-model="signUpName" required />
            </div>
            <div class="form-group">
                <input id="signUpEmail" class="form-control" type="email" placeholder="Email" ng-model="signUpEmail" required />
            </div>
            <div class="form-group">
                <input id="signUpPassword" class="form-control" type="password" placeholder="Password" ng-model="signUpPassword" required />
            </div>
            <div class="form-group">
                <input id="confirmPassword" class="form-control" type="password" placeholder="Confirm password" ng-model="signUpConfirmPassword" required />
                <span style="font-size:9pt">Tip: Password should contain at least six characters and one number</span>
            </div>
            <div class="authenticateFooter">
                <button type="submit" class="btn btn-annotree" ng-click="validateSignUp()">
                    <strong>Sign Up</strong>&nbsp;&nbsp;<i class="icon-circle-arrow-right"></i>
                </button>
                <p class="authenticateLinkParagraph">
                    Already have an account?&nbsp;
                    <a href="#authenticate/login">Login Here</a>
                </p>
            </div>
        </fieldset>
    </form>
</div>
