body {
	height: 100%;
}

button {
	outline: 0 none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.mainHeader {
	background-image: url('../img/NewAnnoTreeBG8.jpg');
	background-size: cover;
	background-position: center;
	min-height: 500px;

	font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	color: #666;
}

.pricingHeader {
	background-image: url('../img/NewAnnoTreeBG8.jpg');
	background-size: cover;
	background-position: center;
	min-height: 300px;

	font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	color: #444;
}

.featureHeader {
	background-image: url('../img/NewAnnoTreeBG8.jpg');
	background-size: cover;
	background-position: center;
	min-height: 300px;

	font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	color: #444;
}

.thanksHeader {
	background-image: url('../img/NewAnnoTreeBG8.jpg');
	background-size: cover;
	background-position: center;
	min-height: 500px;

	font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	color: #444;
}

.thanksWrapper {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	height: 100%;
	background: rgba(255, 255, 255, 0.56);
	text-align: left;
}

.headerTitle {
	padding-top: 75px;
	text-align: center;
	font-size: 55px;
	padding-bottom: 20px;
	/*text-shadow: 0 1px 2px rgba(179, 179, 179, 0.7);*/
}

.headerText {
	text-align: center;
	font-size: 27px;
	font-weight: 100;
	padding-bottom: 20px;
	/*text-shadow: 0 1px 2px rgba(179, 179, 179, 0.7);*/
}

.navbar, .navbar > .container, .navbar > .container > .navbar-header {
	height: 100px;
	background: white;
	border-bottom: 1px solid #ddd;
}

.navbar {
	margin-bottom: 0;
	box-shadow: none;
	border-radius: 0;
}

.navbar-annotree {
	padding-top: 25px;
	padding-bottom: 25px;
}

.navbar-nav-annotree {
	height: 100px;
	float: right;
}

.navbar-nav-annotree > li {
	height: 100px;
	padding-top: 25px;
}

.navbar > .container > .navbar-header {
	height: 99px;
}

.navbar-nav-annotree > li > a:hover {
	background-color: white;
	color: #888;
}

.navbar-nav-annotree>li>a {
	color: #bbb;
	text-shadow: none;
	font-weight: 200;
}

.navbar .navbar-nav-annotree > .active > a {
	background-color: white;
	color: #888;
	font-weight: 400;
}

.btn-annotree, .navbar-toggle {
	background: #5cc080;
	color: white;
	border-color: #5cc080;
}

.icon-bar {
	background-color: white;
}

.btn-annotree:hover {
	color: white;
	background-color: #48C575;
}

.btn-annotree-inverse {
	background: white;
	color: #5cc080;
	border-color: white;	
}

.btn-annotree-inverse:hover {
	color: #48C575;
	background-color: white;
}

.form-center {
	text-align: center;
}

.betaEmail {
	height: 45px;
	width: 300px;
	font-size: 18pt;
	font-weight: 100;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	border-color: rgba(56, 163, 94, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(56, 163, 94, 0.6);
	outline: 0 none;
}

.errorField {
	background: white;
	border-radius: 5px;
	color: rgb(233, 112, 112);
	font-size: 11pt;
	font-weight: 300;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	height: 20px;
	margin-bottom: 10px;
	display: none;
}

.row-center {
	text-align: center;
}

.col-annotree-row {
	width: 70%;
	margin-left: 15%;
}

.row-annotree{
	padding-bottom: 70px;
}

.row-video {
	box-shadow: inset 0px 2px 5px #ccc;
	border-bottom: 1px solid #bbb;
	background: linear-gradient(#B3EEC8,#38A35E),#38A35E;
	background: #f3f3f3;
	margin: 0;
	width: 100%;
}

.row-pricing {
	padding-top: 70px;
	padding-bottom: 70px;
}

.priceBox {
	background: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	padding: 10px;
	border-radius: 5px;
	width: 220px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.priceTitle {
	padding: 10px;
	background: #38A35E;
	color: white;
	font-weight: 100;
	font-size: 35pt;
}

.priceCost {
	font-size: 30pt;
	padding-top: 5px;
	font-weight: 100;
}

.perMonth {
	font-size: 20pt;
	font-weight: 200;
}

.priceFeatures {
	text-align: left;
	padding-left: 15px;
	font-size: 25pt;
	padding-top: 10px;
}

.col-center {
	text-align: center;
}

.icon-annotree-color {
	color: #38A35E;
}

.annoTreeH2 {
	font-weight: 500;
	color: #38A35E;
	font-size: 20pt;
	padding-bottom: 10px;
}

.annotreeParagraph {
	font-weight: 200;
	font-size: 14px;
	color: #7d838b;
}


.col-annotree-3, .col-annotree-9 {
	float: left;
}

.col-annotree-3 {
	width: 35%;
}

.col-annotree-9 {
	width: 65%;
}

.col-annotree-icon {
	text-align: center;
	margin-top: 20px;
}

.icon-annotree-page {
	font-size: 90pt;
	color: #38A35E;
}

.annotreeHomeImages {
	border-radius:5px; 
	width:180px;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.teamRow {
	box-shadow: inset 0px 2px 5px #444;
	height: 400px;
	background-color: #38A35E;
	margin: 0;
}

.thanksParagraph {
	font-weight: 100;
	color: #444;
	font-size: 20px;
	padding-top: 40px;
	padding-left:20px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.contactInfo {
	text-align: center;
	height: 40px;
	padding-bottom: 200px;
}

.twitterIcon, .facebookIcon, .googleIcon {
color: #444;
-webkit-transition: color 0.2s ease-in-out;
-moz-transition: color 0.2s ease-in-out;
-o-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
text-decoration: none;
}

.inverse {
	color: white;
}

a:hover {
	text-decoration: none;
}

.twitterIcon:hover {
  color: #4099ff;
}

.facebookIcon:hover {
  color: #3b5998;
}

.googleIcon:hover {
  color: #d34836;
}

footer {
	border-top: 1px solid #ddd;
	background-color: white;
	color: #444;
	height: 100px;
	padding-top: 35px;
	font-weight: 200;
	font-size: 14pt;
}

.navbarSmall {
	display: none;
}

.videoColumn {
	margin-top:-100px;
	overflow: hidden;
}

.navbar-nav-annotree > li.signInButton {
	padding-top: 35px;
	padding-left: 10px;
}

.featureHeadText {
	text-align: center;
	font-size: 40px;
	padding-bottom: 20px;
	font-weight: 100;
	text-shadow: 0 1px 2px rgba(179, 179, 179, 0.7);
}

.featureSubHeadText {
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
	font-weight: 100;
	text-shadow: 0 1px 2px rgba(179, 179, 179, 0.7);
}

.white {
	color: white;
}

.AnnoTreeGreenBG {
	box-shadow: inset 0px 2px 5px #444;
	background: #5cc080;
}

.featureSplit {
	padding-top: 50px;
}

.modal-clear {
	box-shadow: none;
	border: 0;
	background: transparent;
}

.annotreeiPadWrap {
	width: 900px;
	margin-bottom: -572px;	
}
.annotreeVid {
	width: 720px;
	height: 400px;
}
@media screen and (min-width: 768px) {
	.modal-dialog {
		padding-top: 100px;
	}
}

@media (max-width: 1199px) {
	.mainHeader {
		min-height: 550px;
	}
}

@media (max-width: 991px) {
	.col-annotree-row {
		width: 100%;
		margin-left: 0;
	}

	.annotreeiPadWrap {
		width: 700px;
		margin-bottom: -446px;	
	}

	.annotreeVid {
		width: 570px;
		height: 320px;
	}

	.headerTitle {
		font-size: 42px;
	}

	.headerText {
		font-size: 23px;
	}
}

@media (max-width: 767px) {
	.navbarSmall {
		display: block;
		float: right;
		width: 100px;
	}

	.annotreeVid {
		width: 400px;
		height: 225px;
	}

	.annotreeiPadWrap {
		width: 500px;
		margin-bottom: -320px;	
	}

	.betaEmail {
		margin: 0 auto;
	}

	.headerTitle {
		font-size: 28px;
	}

	.headerText {
		font-size: 14px;
	}

	.navbar-nav-annotree {
		height: inherit;
		float: none;
		background-color: white;
		margin-top: 0px;
	}

	.navbar-nav-annotree > li {
		height: inherit;
		padding-top: inherit;
	}

	.navbar-nav-annotree > li.signInButton {
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
	}

	footer {
		height: 125px;
		padding-top: 20px;
	}
	
	.footerCol {
		padding-bottom: 10px;
	}

	.col-annotree-9, .col-annotree-3 {
		width: 100%;
		padding: 10px;
		text-align: center;
	}

	.row-annotree {
		padding-bottom: 35px;
	}
}

@media (max-width: 600px) {

	/*.annotreeiPadWrap {
		display: none;
	}*/

	.annotreeiPadWrap {
		width: 325px;
		margin-bottom: -212px;	
	}

	.annotreeVid {
		width: 270px;
		height: 152px;
	}

}

@media (max-width: 479px) {

	.priceTitle {
		font-size: 20pt;
	}
/*
	.annotreeVid {
		width: 300px;
		height: 169px;
	}

	.annotreeiPadWrap {
		width: 300px;
		margin-bottom: -572px;	
	}
*/

	.priceCost {
		font-size: 16pt;
	}

	.perMonth {
		font-size: 12pt;
	}

	.priceFeatures {
		font-size: 14pt;
	}

	.contactInfo {
		text-align: center;
		height: 40px;
		padding-bottom: 150px;
	}

	.navbarSmall {
		display: block;
		float: right;
		width: 100px;
	}

	.betaEmail {
		margin: 0 auto;
	}

	.headerTitle {
		font-size: 30px;
	}

	.headerText {
		font-size: 15px;
	}

	.mainHeader {
		min-height: 500px;
	}

	.videoColumn {
		margin-top:-25px;
	}
}



.branchColumn {
    width: 250px;
    height: 425px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.branchColumnTitle {
    text-align: center;
    padding: 5px;
    height: 30px;
    font-size: 10pt;
    color: #444;
}

.branchTitleHr {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

.branchColumnLeaves {
overflow-y: scroll;
height: calc(100% - 32px);
padding: 0;
padding-top: 10px;
outline: none;
width: calc(100% - 5px);
}

.card-col {
padding-right: 15px;
padding-left: 25px;
padding-right: 25px: 25px;
list-style: none;
min-height: 90px;
}

div[ng-switch], div[ng-switch-when], div[ng-controller] {
height: 100%;
width: 100%;
}

.card.leafCard {
background-color: white;
cursor: pointer;
}
.card.leafCard {
min-height: 50px;
background-size: cover;
background-position: center;
overflow: hidden;
position: relative;
margin-bottom: 15px;
height: 100%;
border-radius: 5px;
box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
font-weight: 100;
}
.card {
margin: 0 auto;
height: 175px;
width: 100%;
margin-bottom: 30px;
box-shadow: 0px 0px 10px #ddd;
border-radius: 5px 5px 0 0;
}

.cardName.leafCardName {
padding: 8px;
background-color: white;
font-family: Helvetica;
cursor: pointer;
color: #222;
font-size: 9pt;
width: 100%;
height: 100%;
overflow: hidden;
}
.cardName {
text-align: center;
border-radius: 5px 5px 0 0;
padding: 3px;
min-height: 25px;
background-color: #5cc080;
color: #fff;
text-decoration: none;
height: 40px;
}

.cardInformation {
padding: 5px;
text-align: right;
}
.cardInformation {
padding: 5px;
text-align: right;
background-color: #fff;
}
.cardInformation div {
float: right;
}


.btn-xs {
padding: 1px 5px;
}
.btn-sm, .btn-xs {
padding: 5px 10px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}

#newLeavesBranch::-webkit-scrollbar {
width: 10px;
}
#newLeavesBranch::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: none;
background: transparent;
}
#newLeavesBranch::-webkit-scrollbar-track {
-webkit-box-shadow: none;
-webkit-border-radius: 10px;
border-radius: 10px;
background-color: transparent;
}

.assignedUser {
width: 30px;
height: 30px;
text-align: left;
border-radius: 15px;
border: 1px solid #ccc;
}
.assignedUser {
cursor: pointer;
margin: 0 0 5px 3px;
display: inline-block;
}

.userIcon {
width: 30px;
height: 30px;
border-radius: 15px;
color: #fff;
background-color: #bbb;
border: 1px solid #bbb;
cursor: pointer;
padding: 4px;
text-align: center;
font-weight: 300;
}

.label-annotree-inverse {
    background-color: white;
    border: 1px solid #5cc080;
    border: 1px solid #ccc;
    border: none;
    color: #444;
    color: white;
    background-color: #80B97D;
    background-color: #5cc080;
}