html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family:GeosansLightRegular, Helvetica, Arial, sans-serif;
  /*background: url('../img/gray-fabric-pattern-light.jpg') no-repeat center center fixed;*/
  background-color: #f4f4f4;/*#fafafa;*/
  -webkit-background-size: cover; /*for webKit*/
  -moz-background-size: cover; /*Mozilla*/
  -o-background-size: cover; /*opera*/
  background-size: cover; /*generic*/
  height: 100%;
  width: 100%;
}

.navbar {
  /*width: 100%;
  height: 45px;
  min-height: 45px;
  display: block;
  margin-bottom: 20px;
  background: #444444;*/
  margin: 0;
}

.navbar .logo {
  height: 38px;
  line-height: 24px;
}

.navbar ul li > a {
  height: 45px;
}
.ccpRow {
  max-width: 100%;
  padding-top: 5px;
}

#annoTreeLogo {
  height: 38px;
}

.userLink {
  color: white;
}

.userLink:hover {
  color: white;
}

#userIcon {
  border: 2px solid; 
  height:40px;
  margin-top:3px;
}

.navbar li .dropdown ul > li a {
  background-color: gray;
}

.navbar li .dropdown ul > li a:hover {
  background-color: darkgray;
}

#scaffold {
  height: 100%;
	width:100%;
	background-color: transparent;
  /*border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 00px solid transparent;
  border-top: 80px solid transparent;
  margin-top: -85px;*/
  border-top: 55px solid transparent;
  margin-top: -55px;
}

#mainContent {
  height: 100%;
	width:100%;
	background-color: #f4f4f4;/*#eae6e1;*/
  /*-moz-box-shadow: 0 0 10px #444;
  -webkit-box-shadow: 0 0 10px #444;
  box-shadow: 0 0 10px #444;*/
  /*border: 1px solid #888;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;*/
}

#trees {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.cardHolder {
  margin: 20px 0;
	width: 100%;
  text-align: center;
}

.card {
  text-align: center;
	width: 195px; /* 200px */
	height: 245px; /* 250px */
	background-color: white; /*#f7f8f5;*/
  color: #444444;
  -moz-box-shadow: 0 0 5px #444;
  -webkit-box-shadow: 0 0 5px #444;
  box-shadow: 0 0 5px #444;
  margin: 0 auto;
  border: 10px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.cardTitleBar {
  background-color: #aff19a;
  color: #444;
  height: 30px;
  font-size: 16pt;
}

.treeLogo {
  height: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardLabel {
	color: #444 
}

.leaf {
  height: 185px;
}

.leafImage {
  max-height: 175px;
  max-width: 165px;
}

.newCard {
  text-align: center;
	width: 80px;
	height: 80px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: fixed;
	background-color: #f7f8f5;
}

.newCardTitleBar {
  background-color: #cff2b5;
  height: 20px;
  font-size: 10pt;
}

.newCardLogo {
  color: #d3d4d2;
  font-size: 150px;
}

#treeElements {
  height: 100%;
  width: 80%;
  overflow: auto;
  float: left;
}

#options {
  background-color: #444444;
  width: 20%;
  float: right;
  height: 100%;
  /*-webkit-border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  border-radius: 0px 15px 15px 0px;*/
}

.actionBar {
	height: 70px;
 	border-bottom: 1px solid black;
}

.actionBarButton {
	float: left;
	width:33.3%;
	height:100%;
}

.actionBarIcon {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.settingsIcon {
	position: absolute;
	left: 30px;
	bottom: 10px;
	margin-left:auto;
	margin-right: auto;
}

.rightText {
	color: white;
  font-family:GeosansLightRegular, Helvetica, Arial, sans-serif;
	float: left;
	margin-top: 30px;
  margin-left: 20px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.toDo {
	color: white;
	float: left;
  margin-left: 20px;
}

.todoHolder {
  overflow: auto;
  height: 100%;
  width; 100%;.
}

@media only screen and (max-width: 767px) {
  #treeElements {
    width: 100%;
  }
  
  #options {
    width: 100%;
    display: none;
  }
}

/*
.rightBarWrapper {
	height:100%;
	width:100%;
}

.wrapper {
	width:100%;
}

.leftBar {
	float:left;
	width:5%;
	height:100%;
	background-color:#444444;
	-moz-box-shadow: inset -5px -5px 5px #888;
	-webkit-box-shadow: inset -5px -5px 5px #888;
	box-shadow: inset -5px -5px 5px #888;
}

.rightBar {
	float:right;
	width:15%;
	height:100%;
	background-color:#444444;
	-moz-box-shadow: -5px -5px 5px #888;
	-webkit-box-shadow: -5px -5px 5px #888;
	box-shadow: -5px -5px 5px #888;
}

.actionBar {
	height: 70px;
 	border-bottom: 1px solid black;
}

.actionBarButton {
	float: left;
	width:33.3%;
	height:100%;
}

.actionBarIcon {
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.settingsIcon {
	position: absolute;
	left: 30px;
	bottom: 10px;
	margin-left:auto;
	margin-right: auto;
}

.middleContent {
	margin-left: 20%;
}

.annotation {
	margin-top: 5%;
	width: 300px;
	height: 300px;
	background-color: #f7f8f5;
}



.titleBar {
	height: 10%;
	background-color: #b3ef88;
	text-align: center;
	font-family:GeosansLightRegular, Helvetica, Arial, sans-serif; 
}

.annotationImage {
	width: auto;
	height: 200px;
	background-color: #b3ef88;
	margin-left: 30px;
}

.rightText {
	color: white;
	float: left;
	margin-top: 30px;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.toDo {
	color: white;
	float: left;
}
*/