<div id="treeContainer" ng-controller="forest.LeafController">
  <div id="treeHeader" class="valign">
    <div id="crumbHolder">
      <span class="responsiveHide">
        <a href="#/app">Home</a> > <a href="#/app/{{treeInfo.id}}">{{treeInfo.name}}</a> > {{leafName}}
      </span>
      <span class="responsiveShow">
        <a ng-href="#/app/{{treeInfo.id}}"><i class="icon-arrow-left" style="color:#444;font-size:16pt"></i></a>
      </span>
    </div>
    <div class="responsiveShowTC" style="text-align:center;width:100%">
        {{leafName}}
    </div>
    <div id="newElementHolder"  class="switch" gumby-trigger="#newLeafModal">
        <div id="newElementButton" class=" medium success btn">
            <div style="width:100%;height:100%;">
                <button>
                    <a href="" id="newElementLink" class="switch" gumby-trigger="#newAnnotationModal">
                        <i class="icon-ne icon-plus-sign" style="margin-right:0px;"></i>
                        <span class="responsiveHide" style="margin-left:5px;"> New Annotation</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
  </div>
  <div id="treeElements">
	<div id="singleLeafHolder">
	  <img class="singleLeafImage" ng-src="{{leafImage}}" gumby-retina />
	</div>