<!-- View Leaf Modal -->
<div class="modal" id="viewLeafModal" ng-controller="forest.LeafController" style="text-align:center;">
  <div class="" style="height:100%;">
    <div style="height:100%;">
        <img class="singleLeafImage" style="vertical-align:middle;cursor:pointer;max-width:90%;max-height:90%;margin:0;border:10px solid #444;" ng-src="{{leaf.image}}" ng-click="closeViewLeafModal()" gumby-retina />
    </div>
  </div>
</div>

<!-- Modify Leaf Modal -->
<div class="modal" id="modifyLeafModal" ng-controller="forest.LeafController" ng-model="modifyLeaf">
  <div class="content" style="padding: 0;min-height:0;">
    <div class="row authenticateHeader" style="padding:0;">
      <a id="modifyLeafClose" class="close switch" ng-click="closeModifyLeafModal()" style="float:right;color:#444"><i class="icon-remove-circle"></i></a>
      <h3 style="padding-top:20px;">Update Leaf</h3>
    </div>
    <form name="modifyLeafForm" ng-submit="modifyLeafFn()" style="margin: 0;">
      <div class="row" style="padding-bottom:30px;padding-top:30px;">
        <div class="ten columns centered center-text">
          <ul>
            <li class="danger alert" id="invalidModifyLeaf" ng-show="invalidModifyLeaf"></li>
            <li class="field" style="text-align:center;"><input id="leafName" class="text input" type="text" placeholder="Leaf" style="max-width:380px;" ng-model="modifyLeaf.name" required></li>
            <!--<li class="field" style="text-align:center;"><input id="forestDescription" class="email input" type="text" placeholder="Forest Description" style="max-width:380px;" ng-model="forestDescription" required></li>-->
          </ul>
        </div>
      </div>
      <div class="row authenticateFooter">
        <div style="text-align: center; padding-top:15px;">
          <div>
            <button type="submit" class="medium oval btn success"><a ng-click="modifyLeafFn()">Update Leaf</a></button>
            <button type="submit" class="medium oval btn danger"><a ng-click="cancelModifyLeafModal()">Cancel</a></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>