<div id="treeContainer" ng-controller="forest.LeafController">
  <div ng-include=" 'assets/app/views/tree/leaf-modals.html' "></div>
  <div id="treeHeader" class="valign">
    <div id="crumbHolder">
      <span class="responsiveHide">
        <a ng-href="#/app/{{treeInfo.id}}"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt;margin-right:15px;"></i></a>
        <a href ng-click="openModifyLeafModal()" style="color:white;">{{leafName}} <i class="icon-cog" style="color:white;"></i></a>
      </span>
      <span class="responsiveShow">
        <a ng-href="#/app/{{treeInfo.id}}" style="margin-left:15px;"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt"></i></a>
      </span>
    </div>
    <div class="responsiveShowTC" style="text-align:center;width:100%" ng-click="openModifyLeafModal()">
        <a style="color:white;" href ng-click="openModifyLeafModal()">{{leafName}}  <i class="icon-cog" style="color:white;"></i></a>
    </div>
    <div id="newElementHolder"  class="switch" gumby-trigger="#newAnnotationModal">
       <!-- <div id="newElementButton" class=" medium success btn">
            <div style="width:100%;height:100%;">
                <button>
                    <a href="" id="newElementLink" class="switch" gumby-trigger="#newAnnotationModal">
                        <i class="icon-ne icon-plus-sign" style="margin-right:0px;"></i>
                        <span class="responsiveHide" style="margin-left:5px;"> New Annotation</span>
                    </a>
                </button>
            </div>
        </div>-->
    </div>
  </div>
  <div id="treeElements">
	<div id="singleLeafHolder" class="" post-render>
    <div style="height:100%;">
    	  <img class="singleLeafImage" ng-src="{{leafImage}}" ng-click="openViewLeafModal()" style="cursor:pointer" gumby-retina />
    </div>
	</div post-render>