
<div id="treeContainer" ng-model="treeInfo">
          <div id="treeHeader" class="valign">
            <div id="crumbHolder">
              <span class="responsiveHide">
                <a ng-href="#/app"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt;margin-right:15px;"></i></a>
                <a href ng-click="openModifyTreeModal(treeInfo)" style="color:white;">{{treeInfo.name}} <i class="icon-cog" style="color:white;"></i></a>
              </span>
              <span class="responsiveShow">
                <a ng-href="#/app" style="margin-left:15px;"><i class="icon-circle-arrow-left" style="color:#84db69;font-size:16pt"></i></a>
              </span>
            </div>
            <div class="responsiveShowTC" style="text-align:center;width:100%" ng-click="openModifyTreeModal()">
                <a style="color:white;" href ng-click="openModifyTreeModal(treeInfo)">{{treeInfo.name}}  <i class="icon-cog" style="color:white;"></i></a>
            </div>
            <div id="newElementHolder"  class="switch" ng-click="openNewLeafModal()">
                <div id="newElementButton" class=" medium success btn">
                    <div style="width:100%;height:100%;">
                        <button>
                            <a href="" id="newElementLink" class="switch" ng-click="openNewLeafModal()">
                                <i class="icon-ne icon-plus-sign" style="margin-right:0px;"></i>
                                <span class="responsiveHide" style="margin-left:5px;"> New Leaf</span>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
          </div>
          <div id="treeElements" post-render>
                <div id="noLeavesDiv" ng-show="noLeaves != ''" class="valign" style="text-align:center;height:100%;">
                    <div>
                        <span style="font-size:20pt;" ng-mode="noForests">{{noLeaves}}<br/><br/>{{noLeavesNL}}</span>
                    </div>
                </div>

                <div id="treeElementsDiv" class="twelve colgrid treeBG" ng-controller="forest.TreeController" ng-show="noLeaves == ''">
                    <div class="row" ng-repeat="leafRow in (leaves.length/3 | threeColumnFilter)" post-render> 
                        <div class="four columns" ng-repeat="leaf in leaves.slice(3*$index, 3*$index + 3)"> 
                            <div class="cardHolder">
                                <div class="card">
                                    <div class="cardTitleBar valign"><div>{{leaf.name}}</div></div>
                                    <a href="#/app/{{treeInfo.id}}/{{leaf.id}}">
                                        <div class="leaf valign">
                                            <div>
                                                <img class="leafImage" ng-src="{{leaf.annotation}}" gumby-retina />
                                            </div>
                                        </div>
                                    </a>
                                    <!--<div class="treeModify">
                                        <a href class="switch" gumby-trigger="#modifyLeafModal"><i class="icon-cog"></i></a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


          </div> <!-- end trees -->
        </div>