
<div ng-switch="subview">
      <div style="position:absolute; right:20px; top: 5px; z-index:0;">
          <a href="#" class="userLink toggle responsiveShow" gumby-trigger=".userSettings"><img id="userIcon" src="img/user.png" gumby-retina /></a>
          <span class="logoutArrow userSettings"></span>
      </div>
      <div id="actionHeader" class="valign">
          <div class="taskHeader">
              <p class="taskListHeadText">Task List</p>
          </div>
      </div>
      <div id="actionContent">
            <div ng-include=" 'assets/app/views/tree/tasks.html' "></div>
      </div>
</div>