    <div class="row authenticateHeader" style="padding:0;">
      <a id="newTreeClose" class="close switch" ng-click="closeModifyTreeModal()" style="float:right;color:#444">
        <i class="icon-remove-circle"></i>
      </a>
      <h3 style="padding-top:20px;">Modify Tree</h3>
    </div>
    <form name="createTreeForm" ng-submit="newTree()" style="margin: 0;">
      <div class="row" style="padding-bottom:30px;padding-top:30px;">
        <div class="ten columns centered center-text">
          <ul>
            <li class="danger alert" id="invalidModifyTree" ng-show="invalidModifyTree"></li>
            <li class="field" style="text-align:center;"><input id="treeName" class="text input" type="text" placeholder="Tree" style="max-width:380px;" ng-model="modifyTree.name" required></li>
            <li class="field" style="text-align:center;"><input id="treeDescription" class="email input" type="text" placeholder="Tree Description" style="max-width:380px;" ng-model="modifyTree.description" required></li>
            <li class="field" style="text-align:left;color:#444;font-size:9pt;">API Key: <br/>{{modifyTree.token}}</li>
          </ul>
        </div>
      </div>
      <div class="row authenticateFooter">
        <div style="text-align: center; padding-top:15px;">
          <div>
            <button type="submit" class="medium oval btn success"><a ng-click="modifyTree()">Update Tree</a></button>
          </div>
        </div>
      </div>
    </form>