<div id="tasks" ng-controller="forest.TaskController">
              <div id="myTasks" class="taskGrouping">
                <a href class="toggle taskToggle active" gumby-trigger=".myTaskOpen">
                  <p class="taskGroupingHeader">Open Tasks</p>
                  <p class="taskGroupingIcon"><i id="myTaskIcon" class="icon-chevron-sign-down myTaskOpen active"></i></p>
                </a>
                <div class="drawer taskList active myTaskOpen" id="myTaskTasks">
                  <ul>
                    <li ng-repeat="task in tasks" data-ng-show="showTaskOpen(task)">
                      <div>
                        <input type="checkbox" ng-click="toggleCheck(task)" ng-checked="task.status==2" class="regluar-checkbox">
                        <span>{{task.description}}</span>
                        <a ng-href="#/app/{{task.tree_id}}/{{task.leaf_id}}">
                          <span class="success label" ng-show="task.leaf_id" style="margin-left:5px;font-size: 7pt;padding: 0 5px;height: 15px;line-height: 15px;">{{task.leaf_name}}</span>
                        </a>
                      </div>
                      <!--<div style="height:15px;" ng-show="task.leaf_id">
                        <div class="success label" style="position:relative;left:20px;top:-5px;font-size: 7pt;padding: 0 5px;height: 15px;line-height: 15px;">LeafName</div>
                      </div>-->
                    </li>
                    <li class="addTask" style="display:none;">
                      <form name="addTaskForm" ng-submit="addTask()" style="margin: 0;">
                        <div >
                          
                          <span class="addTask">
                              <input type="text" class="addTodo" ng-model="newTask">
                              <!-- <div style="margin-left:15px;">
                                <span class="success label taskLabel" ng-hide="leaf_name"  style="opacity:0.5;">Leaf</span>
                                <span class="success label taskLabel" ng-show="leaf_name" style="">Leaf</span>
                                <span class="primary label taskLabel" style="opacity:0.5;">User</span>
                              </div> -->
                          </span>
                        </div>
                      </form>
                    </li>
                  </ul>
                  <ul>
                      <li>
                        <div style="padding-left:5px;">
                          <div class="btn success newTaskButton"><a class="linkColor" ng-click="showAddTask()" ><i class="icon-ne icon-plus-sign"></i> New Task</a></div>
                          <div style="display:none;" class="btn success addTaskButton"><a class="linkColor" ng-click="addTask()" ><i class="icon-ne icon-plus-sign"></i> Add </a></div>
                          <div style="display:none; margin-left:10px;" class="btn default doneTaskButton"><a class="linkColor" ng-click="doneAddTask()" > Done </a></div>
                        </div>
                      </li>
                  </ul>
                </div>
              </div>
              <div id="completedTasks" class="taskGrouping">
                <a href class="toggle taskToggle" gumby-trigger=".completedTaskOpen">
                  <p class="taskGroupingHeader">Completed Tasks</p>
                  <p class="taskGroupingIcon"><i class="icon-chevron-sign-down completedTaskOpen"></i></p>
                </a>
                <div class="drawer taskList completedTaskOpen" id="completedTaskTasks">
                  <ul>
                    <li ng-repeat="task in tasks" data-ng-show="showTaskClosed(task)">
                      <div>
                        <input type="checkbox" ng-click="toggleCheck(task)" ng-checked="task.status==2" class="regluar-checkbox">
                        <span>{{task.description}}</span>
                        <a ng-href="#/app/{{task.tree_id}}/{{task.leaf_id}}">
                          <span class="success label" ng-show="task.leaf_id" style="margin-left:5px;font-size: 7pt;padding: 0 5px;height: 15px;line-height: 15px;">LeafName</span>
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>