
<!-- New Leaf Modal -->
<div class="modal" id="newLeafModal" ng-controller="forest.TreeController">
  <div class="content" style="padding: 0;min-height:0;">
    <div class="row authenticateHeader" style="padding:0;">
      <a id="newLeafClose" class="close switch"  ng-click="closeNewLeafModal()" style="float:right;color:#444">
        <i class="icon-remove-circle"></i>
      </a>
      <h3 style="padding-top:20px;">Create New Leaf</h3>
    </div>
    <form name="createLeafForm" ng-submit="newLeaf()" style="margin: 0;">
      <div class="row" style="padding-bottom:30px;padding-top:30px;">
        <div class="ten columns centered center-text">
          <ul>
            <li class="danger alert" id="invalidAddLeaf" ng-show="invalidAddLeaf"></li>
            <li class="field" style="text-align:center;"><input id="leafName" class="text input" type="text" placeholder="Leaf" style="max-width:380px;" ng-model="leafName" required></li>
            <li class="field" style="text-align:center;"><input id="annotationImage" class="text file" type="file" placeholder="Annotation" style="max-width:380px;" ng-model="annotationImage"></li>
          </ul>
        </div>
      </div>
      <div class="row authenticateFooter">
        <div style="text-align: center; padding-top:15px;">
          <div>
            <button type="submit" class="medium oval btn success"><a ng-click="newLeaf()">Add Leaf</a></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!-- Modify Tree Modal -->
<div class="modal" id="modifyTreeModal" ng-controller="forest.TreeController" ng-model="treeInfo">
  <div class="content" style="padding: 0;min-height:0;top: 10%;max-height: 100%;">
    <div class="row authenticateHeader" style="padding:0;">
      <a id="newTreeClose" class="close switch" ng-click="closeModifyTreeModal()" style="float:right;color:#444">
        <i class="icon-remove-circle"></i>
      </a>
      <h3 style="padding-top:20px;">Modify Tree</h3>
    </div>
    <form name="updateTreeForm" ng-submit="modifyTreeFn(modifyTree)" style="margin: 0;">
      <div class="row" style="padding-bottom:30px;padding-top:30px;">
        <div class="ten columns centered center-text">
          <ul>
            <li class="danger alert" id="invalidModifyTree" ng-show="invalidModifyTree"></li>
            <li class="field" style="text-align:center;"><input id="treeName" class="text input" type="text" placeholder="Tree" style="max-width:380px;" ng-model="treeInfo.name" required></li>
            <li class="field" style="text-align:center;"><input id="treeDescription" class="email input" type="text" placeholder="Tree Description" style="max-width:380px;" ng-model="treeInfo.description" required></li>
            <li class="field" style="text-align:center;color:#444;font-size:9pt;word-wrap:break-word">
              API Key: <br/>
              {{modifyTree.token}}<br/>
            </li>
            <li class="field" style="text-align:center;font-size:12pt;">
              For API integration instructions <a href style="color:rgb(30, 139, 34)">Click Here</a>
            </li>
            <li class="field" style="text-align:center;font-size:12pt;">
              <input id="addUser" class="input" type="text" placeholder="User ID" style="max-width:380px;" ng-model="treeInfo.addUserID" required>
              <span class="btn success" ng-click="addUser()">Add User</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="row authenticateFooter">
        <div style="text-align: center; padding-top:15px;">
          <div>
            <button type="submit" class="medium oval btn success"><a ng-click="modifyTreeFn()">Update Tree</a></button>
            <button type="submit" class="medium oval btn danger"><a ng-click="closeModifyTreeModal()">Cancel</a></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>