html, body {
	height: 100%;
}

body, #containWrapper {
	background-color: #f1f1f1;
	font-family: Lato;
	height: 100%;
	width: 100%;
	/*background-image: url('../img/Pepsized_Blur_15.jpg');
	background-size: cover;
	background-attachment: fixed;*/
}

a:hover {
	color: #92DF74;
}

.btn-annotree {
	color: white;
	font-weight: bold;
	background-color: #92DF74;
	border-color: #92DF74;
}

.btn-annotree:hover {
	color: white;
}

.form-control:focus {
	border-color: rgba(146,223,116,0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(146,223,116,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(146,223,116,0.6);
}

.working {
	display: none;
}

.working.active {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250, 0.7);
	z-index: 9999;
	position: absolute;
	text-align: center;
}

.icon-working {
	color: #ddd;
	font-size: 50pt;
	top: 50%;
	position: relative;
	margin-top: -25pt !important;
}

#loginSubmit {
	font-size: 12pt;
}

.labelCenter {
	text-align: center;
}

#authenticateScreen {
	max-width: 400px;
	min-height: 200px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px #bbb;
	margin-top: 10%;
	background-color: white;
	position: relative;
}

#authenticateHeader {
	text-align: center;
	padding: 10px;
}

#authenticateContent {
	padding: 20px;
}

#authenticateFooter {
	padding: 0px;
	text-align: center;
}

.authenticateLinkParagraph {
	padding: 10px 0;
}

.authenticateLink {
	color: #444;
	text-decoration: underline;
}

.navbar {
	background-color: #444;
	/*background-color: transparent;*/
	min-height: 40px;
}

.navbar-nav>li>a, .navbar-nav>.active>a {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: transparent;
}

.navbar-nav>li>a:hover, .navbar-nav>.active>a:focus {
	color: white;
	background-color: #57AF35;
}

.logoHeader {
	height:30px;
	padding-top:5px;
	margin-right:10px;
	position: fixed;
	left: 50%;
	margin-left: -50px;
}

.userLinkDiv {
	position: absolute;
	right: 20px;
	top: 2px;
	width: 30px;
}

#userIcon {
	border: 2px solid white;
	height: 30px;
	width: 30px;
	margin-top: 3px;
}

.logoutArrow {
	margin: 36px 0 0;
	right: 6px;
	border-style: dashed dashed solid;
	border-color: transparent;
	border-bottom-color: white;
	border-width: 0 10px 10px;
	cursor: default;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1000;
	display: none;
}

.userSettingsBox {
	box-shadow: 1px 1px 10px #bbb;
	background-color: white;
	width: 250px;
	float: right;
	position: absolute;
	top: 43px;
	right: 15px;
	height: 120px;
	z-index: 999;
	border: 1px solid #bbb;
	display: none;
}

.userSettings.active {
	display: block;
}

.userSettingsName {
	margin-left: 10px;
	margin-top: 5px;
	height: 23px;
	color: #888;
	font-size: 13pt;
}

.logoutButton {
	float: right;
	margin-right: 10px;
	margin-top: 0px;
}

#wrapper {
	/*margin-top: 40px;*/
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

#wrapper-inner {
	height: 100%;
	width: 100%;
	border-top: 40px solid transparent;
	margin-top: -40px;
}

#mobileDashboard {
	height: 100%;
	width: 240px;
	background-color: white;
	position: fixed;
	word-wrap: break-word;
	padding: 10px;
	overflow-y: auto;
}

#dashboardWrap {
	height: 100%;
	width: 25%;
	float: left;
	border-top: 40px solid transparent;
	padding-left:20px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
}

#dashboard {
	height: 100%;
	padding: 10px;
	word-wrap: break-word;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #bbb;
}

.dashLinks {
	background-color: #f1f1f1;
	font-size: 18pt;
	padding: 3px 10px;
	color: #92DF74;
	margin: 10px 0px;
	cursor: pointer;
}

.dashLinks > span {
	color: #888;
}

.appLogo {
	border-radius: 5px;
	width: 100%;
}

.appName {
	margin-left: 10px;
	font-size: 15pt;
}

.usersHeader {
	border-radius: 5px;
	background-color: #f1f1f1;
	padding: 3px;
	padding-left: 15px;
}

.newUserBadge {
	font-weight: bold;
	font-size: 15px;
	padding: 0px 6px;
	float: right;
	margin-right: 5px;
	margin-top: 2px; 
	cursor: pointer;
}

.treeUser {
	width: 100%;
	margin-bottom: 10px;
}

#trees {
	height: 100%;
	width: 100%;
	padding-top: 60px;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
}

.forestRow {
	margin-top: 30px;
	text-align: left;
	color: #888;
	height: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc
}

.newForestRow {
	border: none;
}

.forestName {
	/*text-align: center;
	background-color: white;
	padding: 5px;
	box-shadow: 0px 0px 10px #bbb;
	border-radius: 5px;*/
	font-size: 20pt;
	line-height: 22pt;
	font-family: Helvetica;
	font-weight: bold;
	cursor: pointer;
}

.newForestName {
	padding: 3px;
	border: 2px dashed #bbb;
}

.newForestName:hover {
	background-color: white;
}

#leaf {
	height: 100%;
	width: 75%;
	float: left;
	margin-left: 25%;
	border-top: 40px solid transparent;
	padding:20px;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#leafs {
	height: 100%;
	width: 75%;
	float: left;
	margin-left: 25%;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	overflow-y: auto;
}

.card {
	margin: 0 auto;
	height: 175px;
	width: 220px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px #bbb;
	border-radius: 5px 5px 0 0;
}

.card:hover {
	background-color: white;
	cursor: pointer;
}

.cardNew {
	border: 2px dashed #bbb;
	box-shadow: none;
}

.cardName {
	text-align: center;
	background-color: #92DF74;
	color: white;
	border-radius: 5px 5px 0 0;
	padding: 3px;
	height: 25px;
}

.cardNameNew {
	background-color: transparent;
	color: #bbb;
}

.cardImg {
	max-height: 150px;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.cardImg:hover {
	-khtml-opacity:.70; 
	-moz-opacity:.70; 
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
	opacity:.70; 
}

.cardImgNew {
	text-align: center;
	font-size: 90pt;
	line-height: 90pt;
	font-weight: bold;
	color: #bbb;
}

.cardLarge {
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
	box-shadow: 0px 0px 10px #bbb;
	border-radius: 5px 5px 0 0;
	background-color: white;
}

.cardNameLarge {
	text-align: center;
	background-color: #92DF74;
	color: white;
	border-radius: 5px 5px 0 0;
	padding: 3px;
	height: 25px;
	border-bottom: 1px solid #ddd;
}

.cardImgLarge {
	height: 100%;
	width: 100%;
	float: left;
	background-size: cover;
	text-align: center;
}

.leafImage {
	max-height: 95%;
	padding: 20px;
}

.leafComments {
	padding: 10px;
}

.leafComment {
	margin: 5px 0;
}

.userCommentHolder {
	margin-left: 30px;
	padding-left: 5px;
}

.userCommentText {
	background-color: #f1f1f1;
	padding: 5px;
}

.userImageHolder {
	float: left;
}

.userCommentImage {
	width: 30px;
	height: 30px;
	border: 2px solid white;
}

.userCommentName {
	font-size: 9pt;
	color: #aaa;
	margin-bottom: 0;
}

.smallHR {
	margin-top: 5px;
	margin-bottom: 10px;
}

.responsiveShow {
	display: none;
}

.responsiveHide {
	display: block;
}

@media (max-width: 768px) {

	.responsiveShow {
		display: block;
	}

	.responsiveHide {
		display: none;
	}

	.navbar-nav>li>a, .navbar-nav>.active>a {
		padding-top: 10px;
		padding-bottom: 10px;
		color: white;
		background-color: #92DF74;
	}

	.nav>li {
		margin-bottom: 5px;
	}

	#leafs, #leaf {
		margin-left: 0;
		width: 100%;
	}

	#dashboard {
		display: none;
	}
}



@media (max-width: 480px) {
	.card {
		height: 125px;
		width: 125px;
		margin-bottom: 50px;
	}

	.cardImg {
		max-height: 100px;
	}

	.cardImgNew {
		font-size: 70pt;
		line-height: 70pt;
	}
}