html, body {
	height: 100%;
}

body {
	background-color: #f1f1f1;
	font-family: Lato;
}

a:hover {
	color: #92DF74;
}

.btn-annotree {
	color: white;
	font-weight: bold;
	background-color: #92DF74;
	border-color: #92DF74;
}

.btn-annotree:hover {
	color: white;
}

.form-control:focus {
	border-color: rgba(146,223,116,0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(146,223,116,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(146,223,116,0.6);
}

.working {
	display: none;
}

.working.active {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250, 0.7);
	z-index: 9999;
	position: absolute;
	text-align: center;
}

.icon-working {
	color: #ddd;
	font-size: 50pt;
	top: 50%;
	position: relative;
	margin-top: -25pt !important;
}

#loginSubmit {
	font-size: 12pt;
}

.labelCenter {
	text-align: center;
}

#authenticateScreen {
	max-width: 400px;
	min-height: 200px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px #bbb;
	margin-top: 10%;
	background-color: white;
	position: relative;
}

#authenticateHeader {
	text-align: center;
	padding: 10px;
}

#authenticateContent {
	padding: 20px;
}

#authenticateFooter {
	padding: 0px;
	text-align: center;
}

.authenticateLinkParagraph {
	padding: 10px 0;
}

.authenticateLink {
	color: #444;
	text-decoration: underline;
}

.navbar {
	background-color: #92DF74;
	min-height: 40px;
}

.navbar-nav>li>a, .navbar-nav>.active>a {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: transparent;
}

.navbar-nav>li>a:hover, .navbar-nav>.active>a:focus {
	color: white;
	background-color: #57AF35;
}

.userLinkDiv {
	position: absolute;
	right: 20px;
	top: 2px;
	width: 30px;
}

#userIcon {
	border: 2px solid white;
	height: 30px;
	width: 30px;
	margin-top: 3px;
}

.logoutArrow {
	margin: 36px 0 0;
	right: 6px;
	border-style: dashed dashed solid;
	border-color: transparent;
	border-bottom-color: white;
	border-width: 0 10px 10px;
	cursor: default;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1000;
	display: none;
}

.userSettingsBox {
	box-shadow: 1px 1px 10px #bbb;
	background-color: white;
	width: 250px;
	float: right;
	position: absolute;
	top: 43px;
	right: 15px;
	height: 120px;
	z-index: 999;
	border: 1px solid #bbb;
	display: none;
}

.userSettings.active {
	display: block;
}

.userSettingsName {
	margin-left: 10px;
	margin-top: 5px;
	height: 23px;
	color: #888;
	font-size: 13pt;
}

.logoutButton {
	float: right;
	margin-right: 10px;
	margin-top: 0px;
}

#wrapper {
	margin-top: 40px;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
}

#dashboard {
	height: 100%;
	width: 23%;
	float: left;
	background-color: white;
	position: fixed;
	word-wrap: break-word;
	padding: 10px;
}

.appLogo {
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

.appName {
	margin-left: 10px;
	font-size: 15pt;
}

#leafs {
	height: 100%;
	width: 75%;
	float: left;
	margin-left: 25%;
	padding-top: 20px;
	position: absolute;
}

.card {
	margin: 0 auto;
	height: 175px;
	width: 220px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px #bbb;
	border-radius: 5px 5px 0 0;
}

.cardName {
	text-align: center;
	background-color: white;
	border-radius: 5px 5px 0 0;
	padding: 3px;
	height: 25px;
}

.cardImg {
	max-height: 150px;
	height: 100%;
	width: 100%;
	background-size: cover;
}

.cardLarge {
	margin: 0 auto;
	height: 90%;
	width: 100%;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px #bbb;
	border-radius: 5px 5px 0 0;
}

.cardNameLarge {
	text-align: center;
	background-color: white;
	border-radius: 5px 5px 0 0;
	padding: 3px;
	height: 25px;
}

.cardImgLarge {
	height: 100%;
	width: 50%;
	float: left;
	background-size: cover;
}

.leafImage {
	height: 90%;
	padding: 20px;
}

.userCommentImage {
	width: 30px;
	height: 30px;
	border: 2px solid white;
}

.responsiveShow {
	display: none;
}

.responsiveHide {
	display: block;
}

@media (max-width: 768px) {

	.responsiveShow {
		display: block;
	}

	.responsiveHide {
		display: none;
	}

	#leafs {
		margin-left: 0;
		width: 100%;
	}

	#dashboard {
		display: none;
	}
}



@media (max-width: 480px) {
	.card {
		height: 100px;
		width: 125px;
		margin-bottom: 50px;
	}
}